<section class="bg-azul w-full h-36 rounded-b-[35px]">
  <div class="container">
    <div class="grid sm:grid-cols-4 md:grid-cols-8 lg:grid-cols-12">
      <div class="sm:hidden md:inline-block md:col-span-1 lg:col-span-2"></div>
      <div class="sm:col-span-2 md:col-span-3 lg:col-span-4 mt-10">
        <form>
          <label
            for="default-search"
            class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white"
            >Search</label
          >
          <div class="relative">
            <input
              type="search"
              id="default-search"
              class="block w-full p-4 pl-10 text-sm text-gray-900 bg-white rounded-full mt-10"
              placeholder="Buscar ..."
              required
            />
            <button
              type="submit"
              class="text-white absolute -right-3 bottom-0 bg-celeste hover:bg-azul rounded-full pt-7 pb-7 pl-10 pr-10"
            >
              <div
                class="absolute inset-y-0 left-0 flex items-center pl-7 pointer-events-none"
              >
                <svg
                  class="w-4 h-4 text-white"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 20 20"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
                  />
                </svg>
              </div>
            </button>
          </div>
        </form>
      </div>
      <div class="sm:hidden md:inline-block md:col-span-1 lg:col-span-2"></div>
      <div class="hidden sm:block md:col-span-3 lg:col-span-4 mt-5">
        <div class="grid grid-cols-8">
          <div class="col-span-2"></div>
          <div class="col-span-2">
            <img src="assets/images/img8.png" class="w-3/4" />
          </div>
          <div class="col-span-2 font-bold text-white">
            <div>LEGAL</div>
            <div>LABOR</div>
            <div>SCAN</div>
          </div>
          <div class="col-span-2 md:col-span-1"></div>
        </div>
      </div>
    </div>
  </div>
</section>
