<div class="mx-auto px-4 my-10">
  <h2
    class="text-2xl sm:text-3xl md:text-4xl text-gray-700 font-semibold mb-4 leading-tight font-subtitulo border-b-8 inline border-yellow-400"
  >
    NUESTROS SERVICIOS
  </h2>
</div>

<div class="grid grid-cols-1 md:grid-cols-3 my-10">
  <div class="p-8 text-center">
    <div class="text-[100px] flex justify-center items-center font-titulo">
      <img src="assets/images/icons/icon-1.png" class="w-16 h-16" alt="" />
    </div>
    <h2 class="text-gray-700 text-xl font-medium mb-3">Legal Compliance</h2>
    <p class="font-light text-base text-gray-500 mb-3">
      Cumplimiento Normativo, Prácticas de buen gobierno corporativo, Prevención
      de Lavado de Activos y/o Financiamiento del terrorismo y Sistema de
      prevención bajo la Ley 30424.
    </p>
    <a href="#" class="text-base text-[#495565] font-bold">VER MAS</a>
  </div>
  <div class="p-8 text-center sm:border-l sm:border-gray-700">
    <div class="text-[100px] flex justify-center items-center font-titulo">
      <img src="assets/images/icons/icon-2.png" class="w-16 h-16" alt="" />
    </div>
    <h2 class="text-gray-700 text-xl font-medium mb-3">Corporativo</h2>
    <p class="font-light text-base text-gray-500 mb-3">
      Societario, contractual
    </p>
    <a href="#" class="text-base text-[#495565] font-bold">VER MAS</a>
  </div>
  <div class="p-8 text-center sm:border-l sm:border-gray-700">
    <div class="text-[100px] flex justify-center items-center font-titulo">
      <img src="assets/images/icons/icon-3.png" class="w-16 h-16" alt="" />
    </div>
    <h2 class="text-gray-700 text-xl font-medium mb-3">
      Fusiones y Adquisiciones
    </h2>
    <p class="font-light text-base text-gray-500 mb-3">
      Reorganizaciones societarias
    </p>
    <a href="#" class="text-base text-[#495565] font-bold">VER MAS</a>
  </div>
</div>
<hr class="border-1 border-gray-500" />
<div class="grid grid-cols-1 md:grid-cols-3 my-10">
  <div class="p-8 text-center">
    <div class="text-[100px] flex justify-center items-center font-titulo">
      <img src="assets/images/icons/icon-4.png" class="w-16 h-16" alt="" />
    </div>
    <h2 class="text-gray-700 text-xl font-medium mb-3">Derecho Financiero</h2>
    <p class="font-light text-base text-gray-500 mb-3">
      Mercado de valores, fideicomisos, fondos de inversión
    </p>
    <a href="#" class="text-base text-[#495565] font-bold">VER MAS</a>
  </div>
  <div class="p-8 text-center sm:border-l sm:border-gray-700">
    <div class="text-[100px] flex justify-center items-center font-titulo">
      <img src="assets/images/icons/icon-5.png" class="w-16 h-16" alt="" />
    </div>
    <h2 class="text-gray-700 text-xl font-medium mb-3">
      Precios de Transferencia
    </h2>

    <a href="#" class="text-base text-[#495565] font-bold">VER MAS</a>
  </div>
  <div class="p-8 text-center sm:border-l sm:border-gray-700">
    <div class="text-[100px] flex justify-center items-center font-titulo">
      <img src="assets/images/icons/icon-6.png" class="w-16 h-16" alt="" />
    </div>
    <h2 class="text-gray-700 text-xl font-medium mb-3">Laboral</h2>
    <p class="font-light text-base text-gray-500 mb-3">
      Cumplimiento Laboral, Seguridad y Salud en el Trabajo
    </p>
    <a href="#" class="text-base text-[#495565] font-bold">VER MAS</a>
  </div>
</div>
<hr class="border-1 border-gray-500" />
<div class="grid grid-cols-1 md:grid-cols-3 my-10">
  <div class="p-8 text-center">
    <div class="text-[100px] flex justify-center items-center font-titulo">
      <img src="assets/images/icons/icon-7.png" class="w-16 h-16" alt="" />
    </div>
    <h2 class="text-gray-700 text-xl font-medium mb-3">Migratorio</h2>

    <a href="#" class="text-base text-[#495565] font-bold">VER MAS</a>
  </div>
  <div class="p-8 text-center sm:border-l sm:border-gray-700">
    <div class="text-[100px] flex justify-center items-center font-titulo">
      <img src="assets/images/icons/icon-8.png" class="w-16 h-16" alt="" />
    </div>
    <h2 class="text-gray-700 text-xl font-medium mb-3">Inmobiliario</h2>
    <p class="font-light text-base text-gray-500 mb-3">
      Proyectos Inmobiliarios, contratos inmobiliarios, cumplimiento normativo.
    </p>
    <a href="#" class="text-base text-[#495565] font-bold">VER MAS</a>
  </div>
  <div class="p-8 text-center sm:border-l sm:border-gray-700">
    <div class="text-[100px] flex justify-center items-center font-titulo">
      <img src="assets/images/icons/icon-9.png" class="w-16 h-16" alt="" />
    </div>
    <h2 class="text-gray-700 text-xl font-medium mb-3">
      Administrativo y Regulatorio
    </h2>

    <a href="#" class="text-base text-[#495565] font-bold">VER MAS</a>
  </div>
</div>
<hr class="border-1 border-gray-500" />
<div class="grid grid-cols-1 md:grid-cols-3 my-10">
  <div class="p-8 text-center">
    <div class="text-[100px] flex justify-center items-center font-titulo">
      <img src="assets/images/icons/icon-10.png" class="w-16 h-16" alt="" />
    </div>
    <h2 class="text-gray-700 text-xl font-medium mb-3">
      Protección de Datos Personales
    </h2>

    <a href="#" class="text-base text-[#495565] font-bold">VER MAS</a>
  </div>
  <div class="p-8 text-center sm:border-l sm:border-gray-700">
    <div class="text-[100px] flex justify-center items-center font-titulo">
      <img src="assets/images/icons/icon-11.png" class="w-16 h-16" alt="" />
    </div>
    <h2 class="text-gray-700 text-xl font-medium mb-3">
      Protección al Consumidor
    </h2>

    <a href="#" class="text-base text-[#495565] font-bold">VER MAS</a>
  </div>
  <div class="p-8 text-center sm:border-l sm:border-gray-700">
    <div class="text-[100px] flex justify-center items-center font-titulo">
      <img src="assets/images/icons/icon-12.png" class="w-16 h-16" alt="" />
    </div>
    <h2 class="text-gray-700 text-xl font-medium mb-3">
      Propiedad Intelectual
    </h2>
    <p class="font-light text-base text-gray-500 mb-3">
      Registro de Marcas y Patentes y Relacionamiento con INDECOPI.
    </p>
    <a href="#" class="text-base text-[#495565] font-bold">VER MAS</a>
  </div>
</div>
<div class="grid grid-cols-1 md:grid-cols-3 my-10">
  <div class="p-8 text-center">
    <div class="text-[100px] flex justify-center items-center font-titulo">
      <img src="assets/images/icons/icon-5.png" class="w-16 h-16" alt="" />
    </div>
    <h2 class="text-gray-700 text-xl font-medium mb-3">
      Contrataciones con el Estado
    </h2>

    <a href="#" class="text-base text-[#495565] font-bold">VER MAS</a>
  </div>
  <div class="p-8 text-center sm:border-l sm:border-gray-700">
    <div class="text-[100px] flex justify-center items-center font-titulo">
      <img src="assets/images/icons/icon-6.png" class="w-16 h-16" alt="" />
    </div>
    <h2 class="text-gray-700 text-xl font-medium mb-3">
      Relaciones Sociales y Gubernamentales
    </h2>
    <p class="font-light text-base text-gray-500 mb-3">
      Gestión de conflictos con vecinos y autoridades, Relacionamiento con
      autoridades municipales. Relaciones con comunidades, y gestiones
      ambientales.
    </p>
    <a href="#" class="text-base text-[#495565] font-bold">VER MAS</a>
  </div>
</div>
