<div class="mx-10 sm:mx-40 mx-auto px-4 my-10">
  <h2
    class="text-5xl text-gray-700 font-semibold mb-4 font-subtitulo border-b-8 inline border-yellow-400"
  >
    NUESTROS SERVICIOS
  </h2>
</div>

<div class="grid grid-cols-1 md:grid-cols-3 my-10">
  <div class="p-8 text-center">
    <div class="text-[100px] flex justify-center items-center font-titulo">
      <svg
        class="w-16 h-16 text-gray-800 dark:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M8 7H5a2 2 0 0 0-2 2v4m5-6h8M8 7V5c0-1.1.9-2 2-2h4a2 2 0 0 1 2 2v2m0 0h3a2 2 0 0 1 2 2v4m0 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-6m18 0s-4 2-9 2-9-2-9-2m9-2h0"
        />
      </svg>
    </div>
    <h2 class="uppercase text-gray-700 text-lg font-medium mb-3">Tributario</h2>
    <p class="font-light text-base text-gray-500 mb-3">
      It is a long established fact that a reader will be distracted by the
      readable content of a page when
    </p>
    <a href="#" class="text-base text-red-700">VER MAS</a>
  </div>
  <div class="p-8 text-center sm:border-l sm:border-gray-700">
    <div class="text-[100px] flex justify-center items-center font-titulo">
      <svg
        class="w-16 h-16 text-gray-800 dark:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M8 7H5a2 2 0 0 0-2 2v4m5-6h8M8 7V5c0-1.1.9-2 2-2h4a2 2 0 0 1 2 2v2m0 0h3a2 2 0 0 1 2 2v4m0 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-6m18 0s-4 2-9 2-9-2-9-2m9-2h0"
        />
      </svg>
    </div>
    <h2 class="uppercase text-gray-700 text-lg font-medium mb-3">Tributario</h2>
    <p class="font-light text-base text-gray-500 mb-3">
      It is a long established fact that a reader will be distracted by the
      readable content of a page when
    </p>
    <a href="#" class="text-base text-red-700">VER MAS</a>
  </div>
  <div class="p-8 text-center sm:border-l sm:border-gray-700">
    <div class="text-[100px] flex justify-center items-center font-titulo">
      <svg
        class="w-16 h-16 text-gray-800 dark:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M8 7H5a2 2 0 0 0-2 2v4m5-6h8M8 7V5c0-1.1.9-2 2-2h4a2 2 0 0 1 2 2v2m0 0h3a2 2 0 0 1 2 2v4m0 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-6m18 0s-4 2-9 2-9-2-9-2m9-2h0"
        />
      </svg>
    </div>
    <h2 class="uppercase text-gray-700 text-lg font-medium mb-3">Tributario</h2>
    <p class="font-light text-base text-gray-500 mb-3">
      It is a long established fact that a reader will be distracted by the
      readable content of a page when
    </p>
    <a href="#" class="text-base text-red-700">VER MAS</a>
  </div>
</div>
<hr class="border-1 border-gray-500" />
<div class="grid grid-cols-1 md:grid-cols-3 my-10">
  <div class="p-8 text-center">
    <div class="text-[100px] flex justify-center items-center font-titulo">
      <svg
        class="w-16 h-16 text-gray-800 dark:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M8 7H5a2 2 0 0 0-2 2v4m5-6h8M8 7V5c0-1.1.9-2 2-2h4a2 2 0 0 1 2 2v2m0 0h3a2 2 0 0 1 2 2v4m0 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-6m18 0s-4 2-9 2-9-2-9-2m9-2h0"
        />
      </svg>
    </div>
    <h2 class="uppercase text-gray-700 text-lg font-medium mb-3">Tributario</h2>
    <p class="font-light text-base text-gray-500 mb-3">
      It is a long established fact that a reader will be distracted by the
      readable content of a page when
    </p>
    <a href="#" class="text-base text-red-700">VER MAS</a>
  </div>
  <div class="p-8 text-center sm:border-l sm:border-gray-700">
    <div class="text-[100px] flex justify-center items-center font-titulo">
      <svg
        class="w-16 h-16 text-gray-800 dark:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M8 7H5a2 2 0 0 0-2 2v4m5-6h8M8 7V5c0-1.1.9-2 2-2h4a2 2 0 0 1 2 2v2m0 0h3a2 2 0 0 1 2 2v4m0 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-6m18 0s-4 2-9 2-9-2-9-2m9-2h0"
        />
      </svg>
    </div>
    <h2 class="uppercase text-gray-700 text-lg font-medium mb-3">Tributario</h2>
    <p class="font-light text-base text-gray-500 mb-3">
      It is a long established fact that a reader will be distracted by the
      readable content of a page when
    </p>
    <a href="#" class="text-base text-red-700">VER MAS</a>
  </div>
  <div class="p-8 text-center sm:border-l sm:border-gray-700">
    <div class="text-[100px] flex justify-center items-center font-titulo">
      <svg
        class="w-16 h-16 text-gray-800 dark:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M8 7H5a2 2 0 0 0-2 2v4m5-6h8M8 7V5c0-1.1.9-2 2-2h4a2 2 0 0 1 2 2v2m0 0h3a2 2 0 0 1 2 2v4m0 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-6m18 0s-4 2-9 2-9-2-9-2m9-2h0"
        />
      </svg>
    </div>
    <h2 class="uppercase text-gray-700 text-lg font-medium mb-3">Tributario</h2>
    <p class="font-light text-base text-gray-500 mb-3">
      It is a long established fact that a reader will be distracted by the
      readable content of a page when
    </p>
    <a href="#" class="text-base text-red-700">VER MAS</a>
  </div>
</div>
<hr class="border-1 border-gray-500" />
<div class="grid grid-cols-1 md:grid-cols-3 my-10">
  <div class="p-8 text-center">
    <div class="text-[100px] flex justify-center items-center font-titulo">
      <svg
        class="w-16 h-16 text-gray-800 dark:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M8 7H5a2 2 0 0 0-2 2v4m5-6h8M8 7V5c0-1.1.9-2 2-2h4a2 2 0 0 1 2 2v2m0 0h3a2 2 0 0 1 2 2v4m0 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-6m18 0s-4 2-9 2-9-2-9-2m9-2h0"
        />
      </svg>
    </div>
    <h2 class="uppercase text-gray-700 text-lg font-medium mb-3">Tributario</h2>
    <p class="font-light text-base text-gray-500 mb-3">
      It is a long established fact that a reader will be distracted by the
      readable content of a page when
    </p>
    <a href="#" class="text-base text-red-700">VER MAS</a>
  </div>
  <div class="p-8 text-center sm:border-l sm:border-gray-700">
    <div class="text-[100px] flex justify-center items-center font-titulo">
      <svg
        class="w-16 h-16 text-gray-800 dark:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M8 7H5a2 2 0 0 0-2 2v4m5-6h8M8 7V5c0-1.1.9-2 2-2h4a2 2 0 0 1 2 2v2m0 0h3a2 2 0 0 1 2 2v4m0 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-6m18 0s-4 2-9 2-9-2-9-2m9-2h0"
        />
      </svg>
    </div>
    <h2 class="uppercase text-gray-700 text-lg font-medium mb-3">Tributario</h2>
    <p class="font-light text-base text-gray-500 mb-3">
      It is a long established fact that a reader will be distracted by the
      readable content of a page when
    </p>
    <a href="#" class="text-base text-red-700">VER MAS</a>
  </div>
  <div class="p-8 text-center sm:border-l sm:border-gray-700">
    <div class="text-[100px] flex justify-center items-center font-titulo">
      <svg
        class="w-16 h-16 text-gray-800 dark:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M8 7H5a2 2 0 0 0-2 2v4m5-6h8M8 7V5c0-1.1.9-2 2-2h4a2 2 0 0 1 2 2v2m0 0h3a2 2 0 0 1 2 2v4m0 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-6m18 0s-4 2-9 2-9-2-9-2m9-2h0"
        />
      </svg>
    </div>
    <h2 class="uppercase text-gray-700 text-lg font-medium mb-3">Tributario</h2>
    <p class="font-light text-base text-gray-500 mb-3">
      It is a long established fact that a reader will be distracted by the
      readable content of a page when
    </p>
    <a href="#" class="text-base text-red-700">VER MAS</a>
  </div>
</div>
<hr class="border-1 border-gray-500" />
<div class="grid grid-cols-1 md:grid-cols-3 my-10">
  <div class="p-8 text-center">
    <div class="text-[100px] flex justify-center items-center font-titulo">
      <svg
        class="w-16 h-16 text-gray-800 dark:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M8 7H5a2 2 0 0 0-2 2v4m5-6h8M8 7V5c0-1.1.9-2 2-2h4a2 2 0 0 1 2 2v2m0 0h3a2 2 0 0 1 2 2v4m0 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-6m18 0s-4 2-9 2-9-2-9-2m9-2h0"
        />
      </svg>
    </div>
    <h2 class="uppercase text-gray-700 text-lg font-medium mb-3">Tributario</h2>
    <p class="font-light text-base text-gray-500 mb-3">
      It is a long established fact that a reader will be distracted by the
      readable content of a page when
    </p>
    <a href="#" class="text-base text-red-700">VER MAS</a>
  </div>
  <div class="p-8 text-center sm:border-l sm:border-gray-700">
    <div class="text-[100px] flex justify-center items-center font-titulo">
      <svg
        class="w-16 h-16 text-gray-800 dark:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M8 7H5a2 2 0 0 0-2 2v4m5-6h8M8 7V5c0-1.1.9-2 2-2h4a2 2 0 0 1 2 2v2m0 0h3a2 2 0 0 1 2 2v4m0 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-6m18 0s-4 2-9 2-9-2-9-2m9-2h0"
        />
      </svg>
    </div>
    <h2 class="uppercase text-gray-700 text-lg font-medium mb-3">Tributario</h2>
    <p class="font-light text-base text-gray-500 mb-3">
      It is a long established fact that a reader will be distracted by the
      readable content of a page when
    </p>
    <a href="#" class="text-base text-red-700">VER MAS</a>
  </div>
  <div class="p-8 text-center sm:border-l sm:border-gray-700">
    <div class="text-[100px] flex justify-center items-center font-titulo">
      <svg
        class="w-16 h-16 text-gray-800 dark:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M8 7H5a2 2 0 0 0-2 2v4m5-6h8M8 7V5c0-1.1.9-2 2-2h4a2 2 0 0 1 2 2v2m0 0h3a2 2 0 0 1 2 2v4m0 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-6m18 0s-4 2-9 2-9-2-9-2m9-2h0"
        />
      </svg>
    </div>
    <h2 class="uppercase text-gray-700 text-lg font-medium mb-3">Tributario</h2>
    <p class="font-light text-base text-gray-500 mb-3">
      It is a long established fact that a reader will be distracted by the
      readable content of a page when
    </p>
    <a href="#" class="text-base text-red-700">VER MAS</a>
  </div>
</div>
<hr class="border-1 border-gray-500" />
