<div class="mx-auto px-4 my-10">
  <h2
    class="text-4xl text-gray-700 font-semibold mb-4 leading-tight font-subtitulo border-b-8 inline border-yellow-400"
  >
    NUESTROS SERVICIOS
  </h2>
</div>

<div class="grid grid-cols-1 md:grid-cols-3 my-10">
  <div class="p-8 text-center">
    <div class="text-[100px] flex justify-center items-center font-titulo">
      <img src="assets/images/icons/icon-1.png" class="w-16 h-16" alt="" />
    </div>
    <h2 class="text-gray-700 text-xl font-medium mb-3">
      Propiedad Intelectual
    </h2>
    <p class="font-light text-base text-gray-500 mb-3">
      It is a long established fact that a reader will be distracted by the
      readable content of a page when
    </p>
    <a href="#" class="text-base text-[#0e0f12]">VER MAS</a>
  </div>
  <div class="p-8 text-center sm:border-l sm:border-gray-700">
    <div class="text-[100px] flex justify-center items-center font-titulo">
      <img src="assets/images/icons/icon-2.png" class="w-16 h-16" alt="" />
    </div>
    <h2 class="text-gray-700 text-xl font-medium mb-3">Corporativo</h2>
    <p class="font-light text-base text-gray-500 mb-3">
      It is a long established fact that a reader will be distracted by the
      readable content of a page when
    </p>
    <a href="#" class="text-base text-[#0e0f12]">VER MAS</a>
  </div>
  <div class="p-8 text-center sm:border-l sm:border-gray-700">
    <div class="text-[100px] flex justify-center items-center font-titulo">
      <img src="assets/images/icons/icon-3.png" class="w-16 h-16" alt="" />
    </div>
    <h2 class="text-gray-700 text-xl font-medium mb-3">Administrativo</h2>
    <p class="font-light text-base text-gray-500 mb-3">
      It is a long established fact that a reader will be distracted by the
      readable content of a page when
    </p>
    <a href="#" class="text-base text-[#0e0f12]">VER MAS</a>
  </div>
</div>
<hr class="border-1 border-gray-500" />
<div class="grid grid-cols-1 md:grid-cols-3 my-10">
  <div class="p-8 text-center">
    <div class="text-[100px] flex justify-center items-center font-titulo">
      <img src="assets/images/icons/icon-4.png" class="w-16 h-16" alt="" />
    </div>
    <h2 class="text-gray-700 text-xl font-medium mb-3">Laboral</h2>
    <p class="font-light text-base text-gray-500 mb-3">
      It is a long established fact that a reader will be distracted by the
      readable content of a page when
    </p>
    <a href="#" class="text-base text-[#0e0f12]">VER MAS</a>
  </div>
  <div class="p-8 text-center sm:border-l sm:border-gray-700">
    <div class="text-[100px] flex justify-center items-center font-titulo">
      <img src="assets/images/icons/icon-5.png" class="w-16 h-16" alt="" />
    </div>
    <h2 class="text-gray-700 text-xl font-medium mb-3">Tributario</h2>
    <p class="font-light text-base text-gray-500 mb-3">
      It is a long established fact that a reader will be distracted by the
      readable content of a page when
    </p>
    <a href="#" class="text-base text-[#0e0f12]"
      >Contrataciones con el Estado</a
    >
  </div>
  <div class="p-8 text-center sm:border-l sm:border-gray-700">
    <div class="text-[100px] flex justify-center items-center font-titulo">
      <img src="assets/images/icons/icon-6.png" class="w-16 h-16" alt="" />
    </div>
    <h2 class="text-gray-700 text-xl font-medium mb-3">
      Funciones y Adquisiciones
    </h2>
    <p class="font-light text-base text-gray-500 mb-3">
      It is a long established fact that a reader will be distracted by the
      readable content of a page when
    </p>
    <a href="#" class="text-base text-[#0e0f12]">VER MAS</a>
  </div>
</div>
<hr class="border-1 border-gray-500" />
<div class="grid grid-cols-1 md:grid-cols-3 my-10">
  <div class="p-8 text-center">
    <div class="text-[100px] flex justify-center items-center font-titulo">
      <img src="assets/images/icons/icon-7.png" class="w-16 h-16" alt="" />
    </div>
    <h2 class="text-gray-700 text-xl font-medium mb-3">Inmobiliaria</h2>
    <p class="font-light text-base text-gray-500 mb-3">
      It is a long established fact that a reader will be distracted by the
      readable content of a page when
    </p>
    <a href="#" class="text-base text-[#0e0f12]">VER MAS</a>
  </div>
  <div class="p-8 text-center sm:border-l sm:border-gray-700">
    <div class="text-[100px] flex justify-center items-center font-titulo">
      <img src="assets/images/icons/icon-8.png" class="w-16 h-16" alt="" />
    </div>
    <h2 class="text-gray-700 text-xl font-medium mb-3">
      Litigios y Controversias
    </h2>
    <p class="font-light text-base text-gray-500 mb-3">
      It is a long established fact that a reader will be distracted by the
      readable content of a page when
    </p>
    <a href="#" class="text-base text-[#0e0f12]">VER MAS</a>
  </div>
  <div class="p-8 text-center sm:border-l sm:border-gray-700">
    <div class="text-[100px] flex justify-center items-center font-titulo">
      <img src="assets/images/icons/icon-9.png" class="w-16 h-16" alt="" />
    </div>
    <h2 class="text-gray-700 text-xl font-medium mb-3">Legal Compliance</h2>
    <p class="font-light text-base text-gray-500 mb-3">
      It is a long established fact that a reader will be distracted by the
      readable content of a page when
    </p>
    <a href="#" class="text-base text-[#0e0f12]">VER MAS</a>
  </div>
</div>
<hr class="border-1 border-gray-500" />
<div class="grid grid-cols-1 md:grid-cols-3 my-10">
  <div class="p-8 text-center">
    <div class="text-[100px] flex justify-center items-center font-titulo">
      <img src="assets/images/icons/icon-10.png" class="w-16 h-16" alt="" />
    </div>
    <h2 class="text-gray-700 text-xl font-medium mb-3">Datos Personales</h2>
    <p class="font-light text-base text-gray-500 mb-3">
      It is a long established fact that a reader will be distracted by the
      readable content of a page when
    </p>
    <a href="#" class="text-base text-[#0e0f12]">VER MAS</a>
  </div>
  <div class="p-8 text-center sm:border-l sm:border-gray-700">
    <div class="text-[100px] flex justify-center items-center font-titulo">
      <img src="assets/images/icons/icon-11.png" class="w-16 h-16" alt="" />
    </div>
    <h2 class="text-gray-700 text-xl font-medium mb-3">
      Protección al Consumidor
    </h2>
    <p class="font-light text-base text-gray-500 mb-3">
      It is a long established fact that a reader will be distracted by the
      readable content of a page when
    </p>
    <a href="#" class="text-base text-[#0e0f12]">VER MAS</a>
  </div>
  <div class="p-8 text-center sm:border-l sm:border-gray-700">
    <div class="text-[100px] flex justify-center items-center font-titulo">
      <img src="assets/images/icons/icon-12.png" class="w-16 h-16" alt="" />
    </div>
    <h2 class="text-gray-700 text-xl font-medium mb-3">
      Propiedad Intelectual
    </h2>
    <p class="font-light text-base text-gray-500 mb-3">
      It is a long established fact that a reader will be distracted by the
      readable content of a page when
    </p>
    <a href="#" class="text-base text-[#0e0f12]">VER MAS</a>
  </div>
</div>
