<nav class="bg-blue-300 h-16 fixed inset-x-0 z-30"></nav>

<aside class="w-64 bg-gray-800 fixed inset-y-0 z-20"></aside>

<div class="container pt-16">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, iste
    repellendus, pariatur minus voluptatibus commodi error mollitia ab repellat,
    labore sapiente. Qui architecto nobis ut quam, esse similique ea iste!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, iste
    repellendus, pariatur minus voluptatibus commodi error mollitia ab repellat,
    labore sapiente. Qui architecto nobis ut quam, esse similique ea iste!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, iste
    repellendus, pariatur minus voluptatibus commodi error mollitia ab repellat,
    labore sapiente. Qui architecto nobis ut quam, esse similique ea iste!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, iste
    repellendus, pariatur minus voluptatibus commodi error mollitia ab repellat,
    labore sapiente. Qui architecto nobis ut quam, esse similique ea iste!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, iste
    repellendus, pariatur minus voluptatibus commodi error mollitia ab repellat,
    labore sapiente. Qui architecto nobis ut quam, esse similique ea iste!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, iste
    repellendus, pariatur minus voluptatibus commodi error mollitia ab repellat,
    labore sapiente. Qui architecto nobis ut quam, esse similique ea iste!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, iste
    repellendus, pariatur minus voluptatibus commodi error mollitia ab repellat,
    labore sapiente. Qui architecto nobis ut quam, esse similique ea iste!
  </p>
</div>
