<div class="grid grid-cols-1">
  <div class="bg-white mr-14 mt-20 gap-y-14 p-10 rounded-[35px] shadow-xl">
    <h2 class="titulo-naranja">Contrato</h2>
    <hr class="bg-naranja h-1" />
    <div class="mx-10">
      <form (ngSubmit)="saveToLocalStorage()" #form1="ngForm">
        <label for="" class="subtitulo">Modelo de Contrato</label>
        <select
          id="trab"
          name="trab"
          class="bg-gray-50 border border-gray-100 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 mt-10"
          [(ngModel)]="selectedValue"
          required
          #trab="ngModel"
        >
          <option value="" selected>Seleccionar</option>
          <option value="CONTRATO DE TRABAJO A PLAZO INDETERMINADO">
            Contrato a Plazo indeterminado
          </option>
          <option
            value="CONTRATO DE TRABAJO A PLAZO INDETERMINADO - SIN FISCALIZACION"
          >
            Contrato a Plazo indeterminado sin Fiscalización
          </option>
          <option
            value="MODELO DE CONTRATO DE TRABAJO A PLAZO INDETERMINADO - SIN CONFIANZA Y CON FISCALIZACION"
          >
            Contrato a Plazo indeterminado sin Confianza y con Fiscalización
          </option>
        </select>

        <div class="flex justify-start mt-20">
          <button class="boton-naranja">Siguiente</button>
        </div>
      </form>
      <div class="flex justify-end mt-20">
        <a routerLink="/admin/contratacion/contrato/proceso_4"
          ><button class="boton-azul">Atras</button></a
        >
      </div>
      <span class="flex justify-center mt-10 gap-3">
        <span class="w-3 h-3 bg-gray-200 rounded-full"></span>
        <span class="w-3 h-3 bg-gray-200 rounded-full"></span>
        <span class="w-3 h-3 bg-gray-200 rounded-full"></span>
        <span class="w-3 h-3 bg-gray-200 rounded-full"></span>
        <span class="w-3 h-3 bg-gray-900 rounded-full"></span>
        <span class="w-3 h-3 bg-gray-200 rounded-full"></span>
        <span class="w-3 h-3 bg-gray-200 rounded-full"></span>
        <span class="w-3 h-3 bg-gray-200 rounded-full"></span>
        <span class="w-3 h-3 bg-gray-200 rounded-full"></span>
        <span class="w-3 h-3 bg-gray-200 rounded-full"></span>
        <span class="w-3 h-3 bg-gray-200 rounded-full"></span>
      </span>
    </div>
  </div>
</div>
