<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <div class="w-full px-4 md:px-12 mb-5">
      <div class="flex flex-col justify-center">
        <div
          class="group h-96 md:h-[400px] mb-10 w-full md:w-[300px] [perspective:1000px]"
        >
          <div
            class="relative h-full w-full rounded-xl transition-all duration-500"
          >
            <div class="absolute inset-0">
              <img
                class="h-full w-full rounded-xl object-cover"
                src="assets/images/socio_1.jpg"
              />
              <h3 class="text-center text-lg sm:text-3xl">Ximena Samamé</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide
    ><div class="w-full px-4 md:px-12 mb-5">
      <div class="flex flex-col justify-center">
        <div
          class="group h-96 md:h-[400px] w-full md:w-[300px] [perspective:1000px]"
        >
          <div
            class="relative h-full w-full rounded-xl transition-all duration-500"
          >
            <div class="absolute inset-0">
              <img
                class="h-full w-full rounded-xl object-cover"
                src="assets/images/socio_2.jpg"
              />
              <h3 class="text-center text-lg sm:text-3xl">Patricia Kcomt</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide
    ><div class="w-full px-4 md:px-12 mb-5">
      <div class="flex flex-col justify-center">
        <div
          class="group h-96 md:h-[400px] w-full md:w-[300px] [perspective:1000px]"
        >
          <div
            class="relative h-full w-full rounded-xl transition-all duration-500"
          >
            <div class="absolute inset-0">
              <img
                class="h-full w-full rounded-xl object-cover"
                src="assets/images/socio_3.jpg"
              />
              <h3 class="text-center text-lg sm:text-3xl">Luis Cabrera</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="w-full px-4 md:px-12 mb-5">
      <div class="flex flex-col justify-center">
        <div
          class="group h-96 md:h-[400px] w-full md:w-[300px] [perspective:1000px]"
        >
          <div
            class="relative h-full w-full rounded-xl transition-all duration-500"
          >
            <div class="absolute inset-0">
              <img
                class="h-full w-full rounded-xl object-cover"
                src="assets/images/socio_4.jpg"
              />
              <h3 class="text-center text-lg sm:text-3xl">Lily Valderrama</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="w-full px-4 md:px-12 mb-5">
      <div class="flex flex-col justify-center">
        <div
          class="group h-96 md:h-[400px] mb-10 w-full md:w-[300px] [perspective:1000px]"
        >
          <div
            class="relative h-full w-full rounded-xl transition-all duration-500"
          >
            <div class="absolute inset-0">
              <img
                class="h-full w-full rounded-xl object-cover"
                src="assets/images/socio_5.jpg"
              />
              <h3 class="text-center text-lg sm:text-3xl">Kateleen Urbina</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="w-full px-4 md:px-12 mb-5">
      <div class="flex flex-col justify-center">
        <div
          class="group h-96 md:h-[400px] mb-10 w-full md:w-[300px] [perspective:1000px]"
        >
          <div
            class="relative h-full w-full rounded-xl transition-all duration-500"
          >
            <div class="absolute inset-0">
              <img
                class="h-full w-full rounded-xl object-cover"
                src="assets/images/socio_6.jpg"
              />
              <h3 class="text-center text-lg sm:text-3xl">Karina Quinde</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="w-full px-4 md:px-12 mb-5">
      <div class="flex flex-col justify-center">
        <div
          class="group h-96 md:h-[400px] mb-10 w-full md:w-[300px] [perspective:1000px]"
        >
          <div
            class="relative h-full w-full rounded-xl transition-all duration-500"
          >
            <div class="absolute inset-0">
              <img
                class="h-full w-full rounded-xl object-cover"
                src="assets/images/socio_7.jpg"
              />
              <h3 class="text-center text-lg sm:text-3xl">Gina Pineda</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="w-full px-4 md:px-12 mb-5">
      <div class="flex flex-col justify-center">
        <div
          class="group h-96 md:h-[400px] mb-10 w-full md:w-[300px] [perspective:1000px]"
        >
          <div
            class="relative h-full w-full rounded-xl transition-all duration-500"
          >
            <div class="absolute inset-0">
              <img
                class="h-full w-full rounded-xl object-cover"
                src="assets/images/socio_8.jpg"
              />
              <h3 class="text-center text-lg sm:text-3xl">Fabiola Ruiz</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="w-full px-4 md:px-12 mb-5">
      <div class="flex flex-col justify-center">
        <div
          class="group h-96 md:h-[400px] mb-10 w-full md:w-[300px] [perspective:1000px]"
        >
          <div
            class="relative h-full w-full rounded-xl transition-all duration-500"
          >
            <div class="absolute inset-0">
              <img
                class="h-full w-full rounded-xl object-cover"
                src="assets/images/socio_9.jpg"
              />
              <h3 class="text-center text-lg sm:text-3xl">Erick Valderrama</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="w-full px-4 md:px-12 mb-5">
      <div class="flex flex-col justify-center">
        <div
          class="group h-96 md:h-[400px] mb-10 w-full md:w-[300px] [perspective:1000px]"
        >
          <div
            class="relative h-full w-full rounded-xl transition-all duration-500"
          >
            <div class="absolute inset-0">
              <img
                class="h-full w-full rounded-xl object-cover"
                src="assets/images/socio_10.jpg"
              />
              <h3 class="text-center text-lg sm:text-3xl">Dulmer Malca</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="w-full px-4 md:px-12 mb-5">
      <div class="flex flex-col justify-center">
        <div
          class="group h-96 md:h-[400px] mb-10 w-full md:w-[300px] [perspective:1000px]"
        >
          <div
            class="relative h-full w-full rounded-xl transition-all duration-500"
          >
            <div class="absolute inset-0">
              <img
                class="h-full w-full rounded-xl object-cover"
                src="assets/images/socio_11.jpg"
              />
              <h3 class="text-center text-lg sm:text-3xl">Carlos Enriquez</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</owl-carousel-o>
