<div class="container">
  <h1 class="bg-gray-300 text-gray-700 font-bold sticky top-0">Título 1</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, iste
    repellendus, pariatur minus voluptatibus commodi error mollitia ab repellat,
    labore sapiente. Qui architecto nobis ut quam, esse similique ea iste!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, iste
    repellendus, pariatur minus voluptatibus commodi error mollitia ab repellat,
    labore sapiente. Qui architecto nobis ut quam, esse similique ea iste!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, iste
    repellendus, pariatur minus voluptatibus commodi error mollitia ab repellat,
    labore sapiente. Qui architecto nobis ut quam, esse similique ea iste!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, iste
    repellendus, pariatur minus voluptatibus commodi error mollitia ab repellat,
    labore sapiente. Qui architecto nobis ut quam, esse similique ea iste!
  </p>
  <h1 class="bg-gray-300 text-gray-700 font-bold sticky top-0">Título 2</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, iste
    repellendus, pariatur minus voluptatibus commodi error mollitia ab repellat,
    labore sapiente. Qui architecto nobis ut quam, esse similique ea iste!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, iste
    repellendus, pariatur minus voluptatibus commodi error mollitia ab repellat,
    labore sapiente. Qui architecto nobis ut quam, esse similique ea iste!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, iste
    repellendus, pariatur minus voluptatibus commodi error mollitia ab repellat,
    labore sapiente. Qui architecto nobis ut quam, esse similique ea iste!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, iste
    repellendus, pariatur minus voluptatibus commodi error mollitia ab repellat,
    labore sapiente. Qui architecto nobis ut quam, esse similique ea iste!
  </p>

  <h1 class="bg-gray-300 text-gray-700 font-bold sticky top-0">Título 3</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, iste
    repellendus, pariatur minus voluptatibus commodi error mollitia ab repellat,
    labore sapiente. Qui architecto nobis ut quam, esse similique ea iste!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, iste
    repellendus, pariatur minus voluptatibus commodi error mollitia ab repellat,
    labore sapiente. Qui architecto nobis ut quam, esse similique ea iste!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, iste
    repellendus, pariatur minus voluptatibus commodi error mollitia ab repellat,
    labore sapiente. Qui architecto nobis ut quam, esse similique ea iste!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, iste
    repellendus, pariatur minus voluptatibus commodi error mollitia ab repellat,
    labore sapiente. Qui architecto nobis ut quam, esse similique ea iste!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, iste
    repellendus, pariatur minus voluptatibus commodi error mollitia ab repellat,
    labore sapiente. Qui architecto nobis ut quam, esse similique ea iste!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, iste
    repellendus, pariatur minus voluptatibus commodi error mollitia ab repellat,
    labore sapiente. Qui architecto nobis ut quam, esse similique ea iste!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, iste
    repellendus, pariatur minus voluptatibus commodi error mollitia ab repellat,
    labore sapiente. Qui architecto nobis ut quam, esse similique ea iste!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, iste
    repellendus, pariatur minus voluptatibus commodi error mollitia ab repellat,
    labore sapiente. Qui architecto nobis ut quam, esse similique ea iste!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, iste
    repellendus, pariatur minus voluptatibus commodi error mollitia ab repellat,
    labore sapiente. Qui architecto nobis ut quam, esse similique ea iste!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, iste
    repellendus, pariatur minus voluptatibus commodi error mollitia ab repellat,
    labore sapiente. Qui architecto nobis ut quam, esse similique ea iste!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, iste
    repellendus, pariatur minus voluptatibus commodi error mollitia ab repellat,
    labore sapiente. Qui architecto nobis ut quam, esse similique ea iste!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, iste
    repellendus, pariatur minus voluptatibus commodi error mollitia ab repellat,
    labore sapiente. Qui architecto nobis ut quam, esse similique ea iste!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, iste
    repellendus, pariatur minus voluptatibus commodi error mollitia ab repellat,
    labore sapiente. Qui architecto nobis ut quam, esse similique ea iste!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, iste
    repellendus, pariatur minus voluptatibus commodi error mollitia ab repellat,
    labore sapiente. Qui architecto nobis ut quam, esse similique ea iste!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, iste
    repellendus, pariatur minus voluptatibus commodi error mollitia ab repellat,
    labore sapiente. Qui architecto nobis ut quam, esse similique ea iste!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, iste
    repellendus, pariatur minus voluptatibus commodi error mollitia ab repellat,
    labore sapiente. Qui architecto nobis ut quam, esse similique ea iste!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, iste
    repellendus, pariatur minus voluptatibus commodi error mollitia ab repellat,
    labore sapiente. Qui architecto nobis ut quam, esse similique ea iste!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, iste
    repellendus, pariatur minus voluptatibus commodi error mollitia ab repellat,
    labore sapiente. Qui architecto nobis ut quam, esse similique ea iste!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, iste
    repellendus, pariatur minus voluptatibus commodi error mollitia ab repellat,
    labore sapiente. Qui architecto nobis ut quam, esse similique ea iste!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, iste
    repellendus, pariatur minus voluptatibus commodi error mollitia ab repellat,
    labore sapiente. Qui architecto nobis ut quam, esse similique ea iste!
  </p>
</div>
