<section
  class="bg-cover h-[400px] bg-no-repeat text-right bg-[url('assets/images/banner-2.png')] bg-gray-700 my-10"
>
  <div class="px-10 py-24 sm:w-1/2 text-center sm:ml-[50%]">
    <h3
      class="mb-4 text-2xl sm:text-3xl font-subtitulo text-center font-bold text-yellow-300"
    >
      CONTÁCTE CON NOSOTROS
    </h3>
    <h3
      class="mb-4 text-xl font-parrafo text-justify text-white md:text-2xl lg:text-2xl"
    >
      Contáctanos y nos comunicaremos contigo a la brevedad para absolver todas
      tus dudas. Estamos para asesorarte.
    </h3>
    <button
      class="text-center bg-yellow-300 text-white px-7 py-3 hover:bg-yellow-400"
    >
      CLICK AQUÍ
    </button>
  </div>
</section>
