<!-- ====== Services Section Start -->
<section class="pt-20 lg:pt-[120px] pb-12 lg:pb-[90px]">
  <div class="container">
    <div class="flex flex-wrap -mx-4">
      <div class="w-full px-4">
        <div class="text-center mx-auto mb-12 lg:mb-20 max-w-[510px]">
          <span class="font-semibold text-lg text-primary mb-2 block">
            TE OFRECEMOS
          </span>
          <h2
            class="font-bold text-3xl sm:text-4xl md:text-[40px] text-dark mb-4"
          >
            Capacitaciones
          </h2>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap">
      <div class="w-full md:w-1/2 lg:w-1/3 px-4 mb-5">
        <div class="flex flex-col justify-center bg-slate-100">
          <div class="group h-96 w-full [perspective:1000px]">
            <div
              class="relative h-full w-full rounded-xl shadow-xl transition-all duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]"
            >
              <div class="absolute inset-0">
                <img
                  class="h-full w-full rounded-xl object-cover shadow-xl shadow-black/40"
                  src="https://images.unsplash.com/photo-1664575602276-acd073f104c1?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                />
              </div>
              <div
                class="absolute inset-0 h-full w-full rounded-xl bg-black/70 px-12 text-center text-slate-200 [transform:rotateY(180deg)] [backface-visibility:hidden]"
              >
                <div
                  class="flex min-h-full flex-col items-center justify-center"
                >
                  <h1 class="text-3xl font-bold">LOOKER STUDIO</h1>
                  <div class="text-lg">CURSO</div>
                  <div class="text-base">Ver mas ...</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full md:w-1/2 lg:w-1/3 px-4 mb-5">
        <div class="flex flex-col justify-center bg-slate-100">
          <div class="group h-96 w-full [perspective:1000px]">
            <div
              class="relative h-full w-full rounded-xl shadow-xl transition-all duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]"
            >
              <div class="absolute inset-0">
                <img
                  class="h-full w-full rounded-xl object-cover shadow-xl shadow-black/40"
                  src="https://images.unsplash.com/photo-1538391543564-047a76156421?q=80&w=1365&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                />
              </div>
              <div
                class="absolute inset-0 h-full w-full rounded-xl bg-black/70 px-12 text-center text-slate-200 [transform:rotateY(180deg)] [backface-visibility:hidden]"
              >
                <div
                  class="flex min-h-full flex-col items-center justify-center"
                >
                  <h1 class="text-3xl font-bold">POWER BI</h1>
                  <div class="text-lg">CURSO</div>
                  <div class="text-base">Ver mas ...</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full md:w-1/2 lg:w-1/3 px-4 mb-5">
        <div class="flex flex-col justify-center bg-slate-100">
          <div class="group h-96 w-full [perspective:1000px]">
            <div
              class="relative h-full w-full rounded-xl shadow-xl transition-all duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]"
            >
              <div class="absolute inset-0">
                <img
                  class="h-full w-full rounded-xl object-cover shadow-xl shadow-black/40"
                  src="https://images.unsplash.com/photo-1497215842964-222b430dc094?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                />
              </div>
              <div
                class="absolute inset-0 h-full w-full rounded-xl bg-black/70 px-12 text-center text-slate-200 [transform:rotateY(180deg)] [backface-visibility:hidden]"
              >
                <div
                  class="flex min-h-full flex-col items-center justify-center"
                >
                  <h1 class="text-3xl font-bold">ANALÍTICA DE DATOS</h1>
                  <div class="text-lg">CURSO</div>
                  <div class="text-base">Ver mas ...</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ====== Services Section End -->
