<div class="px-4 my-20">
  <h2
    class="text-2xl sm:text-3xl md:text-4xl text-gray-700 font-semibold mb-4 leading-tight font-subtitulo border-b-4 inline border-yellow-400"
  >
    {{ "TITULO_INDUSTRIAS" | translate }}
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-5 my-10">
    <div class="flex items-center justify-center bg-gray-200">
      <div class="relative">
        <img src="assets/images/industrias/Grupo_266.png" alt="" />
        <div class="absolute inset-0 flex items-center justify-center">
          <span class="text-white text-2xl font-bold">{{
            "INDUSTRIA_INMOBILIARIO" | translate
          }}</span>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center bg-gray-200">
      <div class="relative">
        <img src="assets/images/industrias/Grupo_267.png" alt="" />
        <div class="absolute inset-0 flex items-center justify-center">
          <span class="text-white text-2xl font-bold">{{
            "INDUSTRIA_CONSTRUCCION" | translate
          }}</span>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center bg-gray-200">
      <div class="relative">
        <img src="assets/images/industrias/Grupo_268.png" alt="" />
        <div class="absolute inset-0 flex items-center justify-center">
          <span class="text-white text-2xl font-bold">{{
            "INDUSTRIA_SALUD" | translate
          }}</span>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center bg-gray-200">
      <div class="relative">
        <img src="assets/images/industrias/Grupo_269.png" alt="" />
        <div class="absolute inset-0 flex items-center justify-center">
          <span class="text-white text-2xl font-bold">{{
            "INDUSTRIA_FAMACEUTICO" | translate
          }}</span>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center bg-gray-200">
      <div class="relative">
        <img src="assets/images/industrias/Grupo_270.png" alt="" />
        <div class="absolute inset-0 flex items-center justify-center">
          <span class="text-white text-2xl font-bold">{{
            "INDUSTRIA_TELECOMUNICACIONES" | translate
          }}</span>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center bg-gray-200">
      <div class="relative">
        <img src="assets/images/industrias/Grupo_272.png" alt="" />
        <div class="absolute inset-0 flex items-center justify-center">
          <span class="text-white text-2xl font-bold">{{
            "INDUSTRIA_PATRIMONIO" | translate
          }}</span>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center bg-gray-200">
      <div class="relative">
        <img src="assets/images/industrias/Grupo_273.png" alt="" />
        <div class="absolute inset-0 flex items-center justify-center">
          <span class="text-white text-2xl font-bold">{{
            "INDUSTRIA_RETAIL" | translate
          }}</span>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center bg-gray-200">
      <div class="relative">
        <img src="assets/images/industrias/Grupo_274.png" alt="" />
        <div class="absolute inset-0 flex items-center justify-center">
          <span class="text-white text-2xl font-bold">{{
            "INDUSTRIA_DEPORTE" | translate
          }}</span>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center bg-gray-200">
      <div class="relative">
        <img src="assets/images/industrias/Grupo_275.png" alt="" />
        <div class="absolute inset-0 flex items-center justify-center">
          <span class="text-white text-2xl font-bold">{{
            "INDUSTRIA_MUSICAL" | translate
          }}</span>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center bg-gray-200">
      <div class="relative">
        <img src="assets/images/industrias/Grupo_276.png" alt="" />
        <div class="absolute inset-0 flex items-center justify-center">
          <span class="text-white text-2xl font-bold">{{
            "INDUSTRIA_EDUCACION" | translate
          }}</span>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center bg-gray-200">
      <div class="relative">
        <img src="assets/images/industrias/Grupo_277.png" alt="" />
        <div class="absolute inset-0 flex items-center justify-center">
          <span class="text-white text-2xl font-bold">{{
            "INDUSTRIA_MINERIA" | translate
          }}</span>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center bg-gray-200">
      <div class="relative">
        <img src="assets/images/industrias/Grupo_278.png" alt="" />
        <div class="absolute inset-0 flex items-center justify-center">
          <span class="text-white text-2xl font-bold">{{
            "INDUSTRIA_HOSTERIA" | translate
          }}</span>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center bg-gray-200">
      <div class="relative">
        <img src="assets/images/industrias/Grupo_279.png" alt="" />
        <div class="absolute inset-0 flex items-center justify-center">
          <span class="text-white text-2xl font-bold">{{
            "INDUSTRIA_TURISMO" | translate
          }}</span>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center bg-gray-200">
      <div class="relative">
        <img src="assets/images/industrias/Grupo_280.png" alt="" />
        <div class="absolute inset-0 flex items-center justify-center">
          <span class="text-white text-2xl font-bold"
            >{{ "INDUSTRIA_ALIMENTACION" | translate }}n</span
          >
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center bg-gray-200">
      <div class="relative">
        <img src="assets/images/industrias/Grupo_281.png" alt="" />
        <div class="absolute inset-0 flex items-center justify-center">
          <span class="text-white text-2xl font-bold">{{
            "INDUSTRIA_VENTURE" | translate
          }}</span>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center bg-gray-200">
      <div class="relative">
        <img src="assets/images/industrias/Grupo_282.png" alt="" />
        <div class="absolute inset-0 flex items-center justify-center">
          <span class="text-white text-2xl font-bold">{{
            "INDUSTRIA_AGROINDUSTRIA" | translate
          }}</span>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center bg-gray-200">
      <div class="relative">
        <img src="assets/images/industrias/Grupo_283.png" alt="" />
        <div class="absolute inset-0 flex items-center justify-center">
          <span class="text-white text-2xl font-bold">{{
            "INDUSTRIA_CONSUMO" | translate
          }}</span>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center bg-gray-200">
      <div class="relative">
        <img src="assets/images/industrias/Grupo_284.png" alt="" />
        <div class="absolute inset-0 flex items-center justify-center">
          <span class="text-white text-2xl font-bold">{{
            "INDUSTRIA_PRIVATE" | translate
          }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
