<section
  class="bg-cover h-[400px] sm:h-screen bg-center bg-no-repeat bg-[url('assets/images/banner.jpg')] bg-gray-700"
>
  <div class="px-10 max-w-[100%] md:max-w-[100%] text-center py-24 lg:py-80">
    <h3
      class="mb-4 text-xl sm:text-4xl leading-none font-subtitulo text-white md:text-6xl lg:text-9xl"
    >
      Líderes en soluciones legales
    </h3>

    <h3
      class="mb-4 bg-black inline bg-opacity-50 p-5 text-sm sm:text-lg font-parrafo leading-none text-white md:text-4xl lg:text-6xl"
    >
      Creatividad, innovación y excelencia.
    </h3>
  </div>
</section>
