<section
  class="bg-cover h-[400px] sm:h-screen bg-center bg-no-repeat bg-[url('assets/images/banner.jpg')] bg-gray-700"
>
  <div class="px-10 max-w-[80%] md:max-w-[50%] text-left py-24 lg:py-56">
    <h3
      class="mb-4 text-xl sm:text-4xl tracking-tight leading-none font-subtitulo text-white md:text-4xl lg:text-5xl"
    >
      SOLUCIONES LEGALES CON CRITERIO E INNOVACIÓN
    </h3>
    <h3
      class="mb-4 text-xl tracking-tight font-parrafo leading-none text-justify text-white md:text-2xl lg:text-2xl"
    >
      It is a long established fact that a reader will <br />be distracted by
      the readable content of a page when looking at its layout. The point of
      using Lorem Ipsum is that it has a more-or-less normal distribution of
      letters, as opposed to using
    </h3>
  </div>
</section>
