<ngx-slick-carousel class="multiple-items" [config]="slideConfig">
  <div
    ngxSlickItem
    *ngFor="let item of listTestimonios"
    class="max-w-sm bg-gray-100 rounded-lg shadow-md overflow-hidden mx-5 max-h-[400px] my-10"
  >
    <div class="p-6 text-center">
      <div class="ql-container ql-snow" style="border-width: 0">
        <div class="ql-editor" [innerHTML]="item.descripcion"></div>
      </div>
      <h2 class="text-2xl font-semibold mb-2">{{ item.titulo }}</h2>
    </div>
  </div>
</ngx-slick-carousel>
