<app-banner-contenido-4></app-banner-contenido-4>
<div class="container mx-auto max-w-7xl">
  <div class="px-4 my-10">
    <p
      class="mb-10 font-parrafo font-light text-gray-500 text-lg sm:text-2xl my-10 text-justify"
    >
      {{ "FIRMA_DESCRIPCION_1" | translate }}
    </p>
    <p
      class="mb-10 font-parrafo font-light text-gray-500 text-lg sm:text-2xl my-10 text-justify"
    >
      {{ "FIRMA_DESCRIPCION_2" | translate }}
    </p>

    <div class="my-10">
      <h2
        class="text-2xl sm:text-3xl md:text-4xl text-gray-700 font-semibold mb-4 font-subtitulo"
      >
        {{ "FIRMA_RECONOCIMIENTOS" | translate }}
      </h2>

      <app-reconocimientos></app-reconocimientos>
    </div>

    <div class="my-10">
      <h2
        class="text-2xl sm:text-3xl md:text-4xl text-gray-700 font-semibold mb-4 font-subtitulo"
      >
        {{ "FIRMA_MIEMBROS" | translate }}
      </h2>

      <app-miembros></app-miembros>
    </div>

    <div class="mb-20 mt-10">
      <h2
        class="text-2xl sm:text-3xl md:text-4xl text-gray-700 font-semibold mb-4 font-subtitulo"
      >
        {{ "FIRMA_COMENTARIOS" | translate }}
      </h2>
      <app-comentarios></app-comentarios>
    </div>
  </div>
</div>
