<hr class="border-1 border-gray-500 my-10" />
<div class="grid grid-cols-1 sm:grid-cols-12 gap-4 my-14">
  <!-- Columna 1 -->
  <div class="sm:col-span-4 p-4">
    <h2
      class="text-4xl text-gray-700 font-semibold mb-4 leading-tight font-subtitulo border-b-8 inline border-yellow-400"
    >
      CONTÁCTE CON NOSOTROS
    </h2>
    <p
      class="mb-2 font-parrafo text-gray-800 text-lg sm:text-2xl mt-10 text-justify"
    >
      Contáctanos y nos comunicaremos contigo a la brevedad para absolver todas
      tus dudas. Estamos para asesorarte.
    </p>
    <img src="assets/images/img_contact.png" class="" alt="" />
  </div>

  <!-- Columna 2 -->
  <div class="sm:col-span-8 px-5 sm:pl-24">
    <form class="mx-auto mx-5 sm:ml-10">
      <div class="mb-5">
        <input
          type="text"
          id="email"
          class="bg-[#f3f3f3] p-5 text-gray-100 text-xl block w-full p-2.5 placeholder-gray-300 border-white"
          placeholder="NOMBRE COMPLETO"
          required
        />
      </div>
      <div class="mb-5">
        <input
          type="email"
          id="email"
          class="bg-[#f3f3f3] p-5 text-gray-100 text-xl block w-full p-2.5 placeholder-gray-300 border-white"
          placeholder="CORREO ELECTRÓNICO"
          required
        />
      </div>
      <div class="mb-5">
        <input
          type="text"
          id="email"
          class="bg-[#f3f3f3] p-5 text-gray-100 text-xl block w-full p-2.5 placeholder-gray-300 border-white"
          placeholder="TELÉFONO"
          required
        />
      </div>
      <div class="mb-5">
        <input
          type="text"
          id="email"
          class="bg-[#f3f3f3] p-5 text-gray-100 text-xl block w-full p-2.5 placeholder-gray-300 border-white"
          placeholder="ASUNTO"
          required
        />
      </div>
      <div class="mb-5">
        <textarea
          id="message"
          rows="4"
          class="block p-2.5 w-full text-xl text-gray-100 bg-[#f3f3f3] p-5 placeholder-gray-300 border-white"
          placeholder="MENSAJE"
        ></textarea>
      </div>
      <button
        type="submit"
        class="text-white bg-yellow-300 hover:bg-yellow-200 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium text-3xl w-full sm:w-auto px-7 py-3.5 text-center rounded-md"
      >
        ENVIAR
      </button>
    </form>
  </div>
</div>
