<h1 class="text-center text-gray-500 font-titulo text-xl md:text-4xl font-bold">
  Nuestros clientes son el centro de nuestra firma.
</h1>

<div class="grid grid-cols-1 md:grid-cols-4 my-10 gap-2">
  <div class="p-8 bg-gray-200">
    <div class="text-center text-[100px] font-titulo">8</div>
    <h2
      class="text-center font-parrafo text-2xl md:4xl mt-6 text-gray-500 italic font-medium mb-3"
    >
      {{ "TIEMPO_EXPERIENCIA" | translate }}
    </h2>
  </div>
  <div class="p-8 bg-gray-200">
    <div class="text-center text-[100px] font-titulo">+150</div>
    <h2
      class="text-center font-parrafo text-2xl md:4xl mt-6 text-gray-500 italic font-medium mb-3"
    >
      {{ "CLIENTES_SATISFECHOS" | translate }}
    </h2>
  </div>
  <div class="p-8 bg-gray-200">
    <div class="text-center text-[100px] font-titulo">100%</div>
    <h2
      class="text-center font-parrafo text-2xl md:4xl mt-6 text-gray-500 italic font-medium mb-3"
    >
      {{ "RESPONSABILIDAD_SOCIAL" | translate }}
    </h2>
  </div>
  <div class="p-8 bg-gray-200">
    <div class="text-center text-[100px] font-titulo">1#</div>

    <h2
      class="text-center font-parrafo text-2xl md:4xl mt-6 text-gray-500 italic font-medium mb-3"
    >
      {{ "INNOVACION_LEGAL" | translate }}
    </h2>
  </div>
</div>
<hr class="border-1 border-gray-500" />
