<h1 class="text-center text-gray-500 font-titulo text-xl md:text-4xl font-bold">
  Nuestros clientes son el centro de nuestra firma.
</h1>

<div class="grid grid-cols-1 md:grid-cols-4 my-10 gap-2">
  <div *ngFor="let mision of datos_mision" class="p-8 bg-gray-200">
    <div class="text-center text-[100px] font-titulo">
      {{ mision.titulo_mision }}
    </div>
    <h2
      class="text-center font-parrafo text-2xl md:4xl mt-6 text-gray-500 italic font-medium mb-3"
    >
      {{ mision.contenido_mision | translate }}
    </h2>
  </div>
</div>
<hr class="border-1 border-gray-500" />
