<app-banner-3></app-banner-3>
<!-- Buttons Section -->

<div class="container mx-auto mt-10">
  <div
    class="grid grid-cols-1 md:flex justify-center md:mt-4 md:space-x-4 md:gap-24"
  >
    <div class="flex justify-center">
      <button
        routerLink="/publicaciones/informativo"
        class="bg-yellow-300 hover:bg-yellow-400 text-white font-bold pb-1 px-14 text-2xl rounded-md"
      >
        {{ "TITULO_INFORMATIVO" | translate }}
      </button>
    </div>
    <div class="flex justify-center pl-5 sm:border-l sm:border-gray-700">
      <button
        routerLink="/publicaciones/sala-de-prensa"
        class="text-gray-800 font-bold py-1 px-14 text-2xl rounded-md"
      >
        {{ "TITULO_SALA" | translate }}
      </button>
    </div>
  </div>
  <hr class="border-1 my-4 border-gray-400" />

  <div class="grid grid-cols-1 md:grid-cols-4">
    <div class="md:col-span-3">
      <app-noticias></app-noticias>
    </div>
    <div class="md:col-span-1 md:pl-14 md:border-l-4 md:border-gray-300">
      <app-mas-noticias></app-mas-noticias>
    </div>
  </div>
</div>
