<div class="mx-auto px-4 my-10">
  <h2
    class="text-2xl sm:text-3xl md:text-4xl text-gray-700 font-semibold mb-4 leading-tight font-subtitulo border-b-8 inline border-yellow-400"
  >
    NUESTRO EQUIPO
  </h2>
  <p
    class="mb-2 font-parrafo text-gray-800 text-lg sm:text-2xl mt-10 text-justify"
  >
    Nuestro estudio está conformado por un equipo de profesionales expertos
    reconocimiento internacionalmente por Leaders League y The Legal 500. La
    excelencia de nuestros abogados es reconocida por nuestros clientes quienes
    nos acompañan día a día. Conócenos aquí.
  </p>
</div>
