<div class="grid grid-cols-1 md:grid-cols-2 gap-y-10">
  <!-- 5.- PAGINATION-V1 -->
  <div
    *ngFor="
      let item of listInformativos
        | paginate : { itemsPerPage: 4, currentPage: p }
    "
    class="w-full mb-7"
  >
    <!-- /5.- PAGINATION-V1 -->
    <div
      class="max-w-sm mx-auto bg-gray-100 rounded-lg shadow-md overflow-hidden"
    >
      <!-- Image Section -->
      <div class="relative">
        <img
          class="w-full h-48 object-cover"
          src="{{ urlRaiz + item.ruta_imagen }}"
          alt="Business meeting"
        />
      </div>
      <!-- Content Section -->
      <div class="p-4">
        <h2 class="text-3xl text-center font-bold mt-1 text-gray-800 p-4">
          {{
            item.titulo.length > 40
              ? (item.titulo | slice : 0 : 40) + "..."
              : item.titulo
          }}
        </h2>
        {{
          item.resumen.length > 180
            ? (item.resumen | slice : 0 : 180) + "..."
            : item.resumen
        }}

        <div class="mt-4 flex justify-center">
          <a
            (click)="onDetail(item)"
            target="_blank"
            class="bg-yellow-300 hover:bg-yellow-400 text-white font-bold py-2 mb-5 px-4 rounded-lg cursor-pointer"
          >
            {{ "VER_MAS_MINUSCULA" | translate }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 6.- PAGINATION-V1 -->
<div class="flex items-center justify-center">
  <pagination-controls
    (pageChange)="p = $event"
    previousLabel="Anterior"
    nextLabel="Siguiente"
  ></pagination-controls>
</div>
<!-- /6.- PAGINATION-V1 -->
