<div class="grid grid-cols-1 md:flex">
  <!-- Menu lateral -->
  <div class="w-80 mr-10 md:border-r-4 border-yellow-300 p-3">
    <ul>
      <li
        *ngFor="let item of listTestimonios; let i = index"
        class="cursor-pointer tex-3xl hover:bg-gray-200 font-bold p-2 rounded"
        (click)="selectItem(item)"
      >
        {{ item.titulo | uppercase }}
      </li>
    </ul>
  </div>

  <!-- Contenido principal -->
  <div class="flex-1 p-14 bg-gray-100 rounded-2xl ml-5">
    <div *ngIf="selectedItem">
      <h3 class="text-4xl font-bold">{{ selectedItem.titulo }}</h3>
      <div class="ql-container ql-snow" style="border-width: 0">
        <div
          class="ql-editor"
          [innerHTML]="safeHtmlList[listTestimonios.indexOf(selectedItem)]"
        ></div>
      </div>
      <div class="text-right">
        <button
          class="text-[#156180] font-bold hover:underline mt-4 text-lg md:text-xl"
          (click)="goToDetail(selectedItem.id_testimonio)"
        >
          {{ "VER_MAS_MAYUSCULA" | translate }}
        </button>
      </div>
    </div>
    <div *ngIf="!selectedItem" class="text-center text-gray-500 mt-20">
      Selecciona un elemento del menú para ver su contenido.
    </div>
  </div>
</div>
