<div class="flex flex-row w-full bg-azul h-36 rounded-b-[35px] gap-5">
  <div class="md:basis-[15%] md:ml-14"></div>
  <div
    class="flex flex-col justify-end basis-[70%] md:basis-[40%] ml-4 md:ml-0"
  >
    <div class="mb-3">
      <form>
        <label
          for="default-search"
          class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white"
          >Search</label
        >
        <div class="relative">
          <input
            type="search"
            id="default-search"
            class="block w-full p-4 pl-10 text-sm text-gray-900 bg-white rounded-full mt-10"
            placeholder="Buscar ..."
            required
          />
          <button
            type="submit"
            class="text-white absolute -right-3 bottom-0 bg-celeste hover:bg-azul rounded-full pt-7 pb-7 pl-10 pr-10"
          >
            <div
              class="absolute inset-y-0 left-0 flex items-center pl-7 pointer-events-none"
            >
              <svg
                class="w-4 h-4 text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 20 20"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
                />
              </svg>
            </div>
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="hidden md:block md:basis-[2%]"></div>
  <div class="flex flex-col justify-end basis-[15%] md:basis-[33%]">
    <div class="flex flex-row mb-3">
      <div class="basis-[55%]"></div>
      <!--  <div class="basis-[15%] text-center text-white hover:scale-125">
        <i class="fa fa-cog fa-lg" aria-hidden="true"></i>
      </div> -->
      <div
        class="relative basis-[15%] text-center text-white hover:scale-125 cursor-pointer"
        (click)="toggleDropdown()"
      >
        <i class="fa fa-cog fa-lg" aria-hidden="true"></i>

        <!-- Menú desplegable con posición absoluta -->
        <div
          *ngIf="showDropdown"
          class="absolute left-0 mt-2 bg-white shadow-md"
        >
          <a
            routerLink="/admin/configuracion/empresa"
            class="block px-4 py-2 text-gray-800 hover:bg-gray-100 text-sm"
            >Empresa</a
          >
          <a
            href="#"
            class="block px-4 py-2 text-gray-800 hover:bg-gray-100 text-sm"
            >Configuración</a
          >
        </div>
      </div>
      <div class="basis-[15%] text-center text-white hover:scale-125">
        <i class="fa fa-bell fa-lg" aria-hidden="true"></i>
      </div>
      <div
        class="relative basis-[15%] text-center text-white hover:scale-125 cursor-pointer"
        (click)="toggleDropdownLogin()"
      >
        <i class="fa fa-user fa-lg" aria-hidden="true"></i>

        <!-- Menú desplegable con posición absoluta -->
        <div
          *ngIf="showDropdownLogin"
          class="absolute left-0 mt-2 bg-white shadow-md"
        >
          <a
            href="#"
            class="block px-4 py-2 text-gray-800 hover:bg-gray-100 text-sm"
            >{{ this.email }}</a
          >

          <a
            (click)="logout()"
            class="block px-4 py-2 text-gray-800 hover:bg-gray-100 text-sm"
            >Logout</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="hidden md:block md:basis-[15%] md:20% mr-4 md:mr-14">
    <img src="assets/images/img8.png" class="mt-3" />
  </div>
</div>
