<div class="">
  <div class="flex justify-center">
    <img src="assets/images/img1.png" class="w-28" />
  </div>
  <p class="subtitulo text-center">Patricia kcomt</p>
  <p class="texto-gris text-center">Abogada Laboral</p>

  <br />

  <div class="border-2 border-gray-100 rounded-xl p-5">
    <div class="grid grid-cols-1 lg:grid-cols-4 gap-3">
      <div class="">
        <a routerLink="/admin/dashboard">
          <img class="" src="assets/images/img7.png" />
        </a>
      </div>
      <div class="hidden lg:block lg:col-span-3 text-center pt-1">
        <a routerLink="/admin/dashboard">
          <h4 class="subtitulo-azul">Dashboard</h4>
        </a>
      </div>
    </div>
  </div>

  <div class="border-2 border-gray-100 rounded-xl p-5 mt-5">
    <div class="grid grid-cols-1 lg:grid-cols-4 gap-3">
      <div class="text-center">
        <a routerLink="/admin/contratacion/contrato/proceso_1">
          <img class="" src="assets/images/img6.png" />
        </a>
      </div>
      <div class="hidden lg:block lg:col-span-3 text-center pt-1">
        <h4 class="subtitulo-naranja">Contratación</h4>
        <p class="texto-gris">Oferta Laboral</p>
        <a routerLink="/admin/contratacion/contrato/proceso_1">
          <p class="texto-gris">Contrato</p>
        </a>
        <p class="texto-gris">Adendas</p>
      </div>
    </div>
  </div>

  <div class="border-2 border-gray-100 rounded-xl p-5 mt-5">
    <div class="grid grid-cols-1 lg:grid-cols-4 gap-3">
      <div class="text-center">
        <img class="" src="assets/images/img5.png" />
      </div>
      <div class="hidden lg:block lg:col-span-3 text-center pt-1">
        <h4 class="subtitulo-azul">Políticas</h4>
        <p class="texto-gris">Obligatorias</p>
        <a routerLink="">
          <p class="texto-gris">Recomendadas</p>
        </a>
      </div>
    </div>
  </div>

  <div class="border-2 border-gray-100 rounded-xl p-5 mt-5">
    <div class="grid grid-cols-1 lg:grid-cols-4 gap-3">
      <div class="text-center">
        <img class="" src="assets/images/img4.png" />
      </div>
      <div class="hidden lg:block lg:col-span-3 text-center pt-1">
        <h4 class="subtitulo-azul">Capacitaciones</h4>
        <p class="texto-gris">Obligatorias</p>
        <a routerLink="">
          <p class="texto-gris">Recomendadas</p>
        </a>
      </div>
    </div>
  </div>

  <div class="border-2 border-gray-100 rounded-xl p-5 mt-5">
    <div class="grid grid-cols-1 lg:grid-cols-4 gap-3">
      <div class="text-center">
        <img class="" src="assets/images/img3.png" />
      </div>
      <div class="hidden lg:block lg:col-span-3 text-center pt-1">
        <h4 class="subtitulo-azul">Gestión</h4>
        <p class="texto-gris">Permisos</p>
        <a routerLink="">
          <p class="texto-gris">Licencias</p>
        </a>
        <p class="texto-gris">Descansos</p>
        <p class="texto-gris">Boletas</p>
        <p class="texto-gris">Sanciones</p>
        <p class="texto-gris">Reconocimientos</p>
      </div>
    </div>
  </div>

  <div class="border-2 border-gray-100 rounded-xl p-5 mt-5">
    <div class="grid grid-cols-1 lg:grid-cols-4 gap-3">
      <div class="text-center">
        <img class="" src="assets/images/img2.png" />
      </div>
      <div class="hidden lg:block lg:col-span-3 text-center pt-1">
        <h4 class="subtitulo-azul">Denuncias</h4>
        <p class="texto-gris">Registro Denuncia</p>
        <a routerLink="">
          <p class="texto-gris">Control del Proceso</p>
          <p class="texto-gris">Consulta de Denuncia</p>
        </a>
      </div>
    </div>
  </div>
</div>
