<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="">
      <header class="bg-blue-300 text-white p-1">Header</header>
      <nav>
        <div class="relative z-50">
          <app-navbar-dropdown></app-navbar-dropdown>
        </div>
        <div class="relative z-40">
          <app-carousel></app-carousel>
        </div>
      </nav>
      <div class="container mt-10 mx-auto">
        <app-carousel-owl-1></app-carousel-owl-1>
      </div>
      <div class="container mt-10 mx-auto">
        <app-carousel-owl-2></app-carousel-owl-2>
      </div>
      <div class="container mt-10 mx-auto">
        <app-background-animated></app-background-animated>
      </div>
      <div class="container mx-auto">
        <app-galeria-1></app-galeria-1>
      </div>
      <div class="container mx-auto">
        <app-parallax-1></app-parallax-1>
      </div>
      <div class="container mx-auto">
        <app-post-grid></app-post-grid>
      </div>
      <div class="container mx-auto">
        <div class="grid sm:grid-cols-1 m-5">
          <app-post-1></app-post-1>
        </div>
      </div>

      <div class="container mx-auto">
        <div class="grid sm:grid-cols-1 m-5">
          <app-post-2></app-post-2>
        </div>
      </div>

      <div class="container mx-auto">
        <div class="grid sm:grid-cols-2 gap-x-5">
          <div><app-post-card></app-post-card></div>
          <div><app-post-card></app-post-card></div>
        </div>
      </div>
      <div class="container mx-auto">
        <div class="grid sm:grid-cols-4 gap-4">
          <div class="my-5"><app-card-1></app-card-1></div>
          <div class="my-5"><app-card-1></app-card-1></div>
          <div class="my-5"><app-card-1></app-card-1></div>
          <div class="my-5"><app-card-1></app-card-1></div>
        </div>
      </div>
    </div>

    <app-footer-1></app-footer-1>
  </body>
</html>
