<app-banner-contenido-3></app-banner-contenido-3>
<div class="container mx-auto">
  <div class="px-4 my-10">
    <h2
      class="text-2xl sm:text-3xl md:text-4xl text-gray-700 font-semibold mb-4 leading-tight font-subtitulo border-b-4 inline border-yellow-400"
    >
      NUESTRO EQUIPO
    </h2>
    <p
      class="mb-2 font-parrafo text-gray-800 text-lg sm:text-2xl mt-10 text-justify"
    >
      Todos los abogados de nuestro equipo han sido reconocidos en sus prácticas
      por los más importantes directorios legales internacionales como Leaders
      League, Legal 500, entre otros durante los últimos años.
    </p>

    <div
      class="grid grid-cols-1 md:grid-cols-7 gap-0 border border-solid border-gray-300 my-14"
    >
      <!-- Primera columna con imagen -->
      <div class="border col-span-1 md:col-span-2 border-solid border-gray-300">
        <img
          src="{{ urlRaiz + ruta_imagen[6] }}"
          alt="Imagen"
          class="w-full h-full object-cover"
        />
      </div>
      <!-- Segunda columna con título y descripción -->
      <div
        class="space-y-4 border col-span-1 md:col-span-3 border-solid border-gray-300 p-16"
      >
        <h1 class="text-2xl font-parrafo font-bold mb-2">{{ nombre[6] }}</h1>
        <p class="text-gray-500">{{ cargo[6] }}</p>
        <p class="font-parrafo text-gray-800 text-lg sm:text-2xl text-justify">
          {{ resumen[6] }}
        </p>
        <p>
          <a
            class="cursor-pointer font-parrafo text-yellow-400 text-lg sm:text-2xl"
            data-modal-target="default-modal_6"
            data-modal-toggle="default-modal_6"
            >Leer más</a
          >
        </p>
      </div>
      <!-- Tercera columna con lista -->
      <div
        class="border col-span-1 md:col-span-2 border-solid border-gray-300 p-10 bg-gray-600"
      >
        <div class="flex items-center justify-center h-full">
          <ul class="space-y-4 font-parrafo text-white text-lg sm:text-2xl">
            <li>
              <img
                class="h-12 inline"
                src="assets/images/iconos/correo.png"
                alt=""
              />
              {{ correo[6] }}
            </li>
            <li>
              <img
                class="h-12 inline"
                src="assets/images/iconos/celular.png"
                alt=""
              />
              {{ telefono[6] }}
            </li>
            <li>
              <a href="{{ urlRaiz + ruta_pdf[6] }}" target="_blank">
                <img
                  class="h-12 inline"
                  src="assets/images/iconos/descarga.png"
                  alt=""
                />
                Descargar C.V
              </a>
            </li>
            <li>
              <img
                class="h-12 inline"
                src="assets/images/iconos/medalla.png"
                alt=""
              />
              Logros:
            </li>
            <li>
              <img
                class="h-20 inline ml-10 mr-4"
                src="assets/images/iconos/logro.png"
                alt=""
              />
              <img
                class="h-20 inline"
                src="assets/images/iconos/logro.png"
                alt=""
              />
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div
      class="grid grid-cols-1 md:grid-cols-7 gap-0 border border-solid border-gray-300 my-14"
    >
      <!-- Primera columna con imagen -->
      <div class="border col-span-1 md:col-span-2 border-solid border-gray-300">
        <img
          src="{{ urlRaiz + ruta_imagen[7] }}"
          alt="Imagen"
          class="w-full h-full object-cover"
        />
      </div>
      <!-- Segunda columna con título y descripción -->
      <div
        class="space-y-4 border col-span-1 md:col-span-3 border-solid border-gray-300 p-16"
      >
        <h1 class="text-2xl font-parrafo font-bold mb-2">{{ nombre[7] }}</h1>
        <p class="text-gray-500">{{ cargo[7] }}</p>
        <p class="font-parrafo text-gray-800 text-lg sm:text-2xl text-justify">
          {{ resumen[7] }}
        </p>
        <p>
          <a
            class="cursor-pointer font-parrafo text-yellow-400 text-lg sm:text-2xl"
            data-modal-target="default-modal_7"
            data-modal-toggle="default-modal_7"
            >Leer más</a
          >
        </p>
      </div>
      <!-- Tercera columna con lista -->
      <div
        class="border col-span-1 md:col-span-2 border-solid border-gray-300 p-10 bg-gray-600"
      >
        <div class="flex items-center justify-center h-full">
          <ul class="space-y-4 font-parrafo text-white text-lg sm:text-2xl">
            <li>
              <img
                class="h-12 inline"
                src="assets/images/iconos/correo.png"
                alt=""
              />
              {{ correo[7] }}
            </li>
            <li>
              <img
                class="h-12 inline"
                src="assets/images/iconos/celular.png"
                alt=""
              />
              {{ telefono[7] }}
            </li>
            <li>
              <a href="{{ urlRaiz + ruta_pdf[7] }}" target="_blank">
                <img
                  class="h-12 inline"
                  src="assets/images/iconos/descarga.png"
                  alt=""
                />
                Descargar C.V
              </a>
            </li>
            <li>
              <img
                class="h-12 inline"
                src="assets/images/iconos/medalla.png"
                alt=""
              />
              Logros:
            </li>
            <li>
              <img
                class="h-20 inline ml-10 mr-4"
                src="assets/images/iconos/logro.png"
                alt=""
              />
              <img
                class="h-20 inline"
                src="assets/images/iconos/logro.png"
                alt=""
              />
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div
      class="grid grid-cols-1 md:grid-cols-7 gap-0 border border-solid border-gray-300 my-14"
    >
      <!-- Primera columna con imagen -->
      <div class="border col-span-1 md:col-span-2 border-solid border-gray-300">
        <img
          src="{{ urlRaiz + ruta_imagen[8] }}"
          alt="Imagen"
          class="w-full h-full object-cover"
        />
      </div>
      <!-- Segunda columna con título y descripción -->
      <div
        class="space-y-4 border col-span-1 md:col-span-3 border-solid border-gray-300 p-16"
      >
        <h1 class="text-2xl font-parrafo font-bold mb-2">{{ nombre[8] }}</h1>
        <p class="text-gray-500">{{ cargo[8] }}</p>
        <p class="font-parrafo text-gray-800 text-lg sm:text-2xl text-justify">
          {{ resumen[8] }}
        </p>
        <p>
          <a
            class="cursor-pointer font-parrafo text-yellow-400 text-lg sm:text-2xl"
            data-modal-target="default-modal_8"
            data-modal-toggle="default-modal_8"
            >Leer más</a
          >
        </p>
      </div>
      <!-- Tercera columna con lista -->
      <div
        class="border col-span-1 md:col-span-2 border-solid border-gray-300 p-10 bg-gray-600"
      >
        <div class="flex items-center justify-center h-full">
          <ul class="space-y-4 font-parrafo text-white text-lg sm:text-2xl">
            <li>
              <img
                class="h-12 inline"
                src="assets/images/iconos/correo.png"
                alt=""
              />
              {{ correo[8] }}
            </li>
            <li>
              <img
                class="h-12 inline"
                src="assets/images/iconos/celular.png"
                alt=""
              />
              {{ telefono[8] }}
            </li>
            <li>
              <a href="{{ urlRaiz + ruta_pdf[8] }}" target="_blank">
                <img
                  class="h-12 inline"
                  src="assets/images/iconos/descarga.png"
                  alt=""
                />
                Descargar C.V
              </a>
            </li>
            <li>
              <img
                class="h-12 inline"
                src="assets/images/iconos/medalla.png"
                alt=""
              />
              Logros:
            </li>
            <li>
              <img
                class="h-20 inline ml-10 mr-4"
                src="assets/images/iconos/logro.png"
                alt=""
              />
              <img
                class="h-20 inline"
                src="assets/images/iconos/logro.png"
                alt=""
              />
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div
      class="flex items-center justify-between border-t border-gray-300 py-4"
    >
      <a
        routerLink="/nuestro-equipo-2"
        class="flex items-center text-gray-600 hover:text-gray-800 text-3xl"
      >
        <svg
          class="w-6 h-6 text-gray-800 dark:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m15 19-7-7 7-7"
          />
        </svg>

        Anterior
      </a>
      <a
        routerLink="/nuestro-equipo-4"
        class="flex items-center text-gray-600 hover:text-gray-800 text-3xl"
      >
        Siguiente
        <svg
          class="w-6 h-6 text-gray-800 dark:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m9 5 7 7-7 7"
          />
        </svg>
      </a>
    </div>
  </div>
</div>

<!-- Main modal -->
<div
  id="default-modal_6"
  tabindex="-1"
  aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <div class="relative p-4 w-full max-w-6xl max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div class="flex items-center justify-between p-4 md:p-5 rounded-t">
        <button
          type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-hide="default-modal_6"
        >
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-4 md:p-5 space-y-4">
        <div class="mx-auto p-6">
          <div class="grid grid-cols-1 md:grid-cols-5 gap-6">
            <!-- Columna de la Imagen -->
            <div class="md:col-span-2 flex flex-col items-center">
              <img
                src="{{ urlRaiz + ruta_imagen[6] }}"
                alt="Imagen de perfil"
                class=""
              />
              <p class="italic text-center font-parrafo py-5">
                "Siempre disponible para cualquier consulta y preocupado por
                obtener el mejor resultado para sus clientes"
              </p>
              <div class="flex space-x-4 mt-4">
                <img
                  src="assets/images/iconos/logro.png"
                  alt="Logo 1"
                  class="w-20 h-20"
                />
                <img
                  src="assets/images/iconos/logro.png"
                  alt="Logo 2"
                  class="w-20 h-20"
                />
              </div>
            </div>

            <!-- Columna de Información Personal -->
            <div class="md:col-span-3 p-10">
              <h1 class="text-2xl font-titulo font-bold">
                {{ nombre[6] }}
              </h1>
              <p class="text-gray-500">{{ cargo[6] }}</p>

              <p class="mt-2 font-parrafo">
                {{ correo[6] }}
                <br />+(51) {{ telefono[6] }}
              </p>
              <br />
              <a
                href="{{ urlRaiz + ruta_pdf[6] }}"
                target="_blank"
                class="mt-7 bg-yellow-400 text-white px-4 py-2 font-parrafo"
              >
                Descargar C.V
              </a>
              <hr class="my-4" />
              <h2 class="text-xl font-bold font-subtitulo">
                Áreas de Práctica:
              </h2>
              <p class="mt-2 font-parrafo">
                Corporativo / Fusiones y Adquisiciones, Proyectos e
                Infraestructura, Derecho de Finanzas, Mercado de Capitales,
                Titulizaciones y Fondos de Inversión
              </p>
              <h2 class="text-xl font-bold mt-4 font-subtitulo">
                Descripción:
              </h2>

              <div class="mt-2 text-justify font-parrafo">
                {{ resumen[6] }}
              </div>

              <div
                id="accordion-collapse_6"
                data-accordion="collapse_6"
                class="my-10"
              >
                <h2 id="accordion-collapse-heading-1_6">
                  <button
                    type="button"
                    class="flex items-center justify-between w-full bg-yellow-400 text-white px-4 py-2"
                    data-accordion-target="#accordion-collapse-body-1_6"
                    aria-expanded="false"
                    aria-controls="accordion-collapse-body-1_6"
                  >
                    <span>Más información</span>
                    <svg
                      data-accordion-icon
                      class="w-3 h-3 rotate-180 shrink-0"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 10 6"
                    >
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 5 5 1 1 5"
                      />
                    </svg>
                  </button>
                </h2>
                <div
                  id="accordion-collapse-body-1_6"
                  class="hidden"
                  aria-labelledby="accordion-collapse-heading-1_6"
                >
                  <div
                    class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900"
                  >
                    <div [innerHTML]="descripcion[6]" class="mb-5"></div>
                  </div>
                </div>
                <br />
                <h2 id="accordion-collapse-heading-2_6">
                  <button
                    type="button"
                    class="flex items-center justify-between w-full bg-yellow-400 text-white px-4 py-2"
                    data-accordion-target="#accordion-collapse-body-2_6"
                    aria-expanded="false"
                    aria-controls="accordion-collapse-body-2_6"
                  >
                    <span>Publicaciones o noticias</span>
                    <svg
                      data-accordion-icon
                      class="w-3 h-3 rotate-180 shrink-0"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 10 6"
                    >
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 5 5 1 1 5"
                      />
                    </svg>
                  </button>
                </h2>
                <div
                  id="accordion-collapse-body-2_6"
                  class="hidden"
                  aria-labelledby="accordion-collapse-heading-2_6"
                >
                  <!-- Sección de Noticias -->
                  <div
                    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4"
                  >
                    <div class="bg-white border overflow-hidden shadow-sm">
                      <img
                        src="assets/images/noticias/img_noticia_1.jpg"
                        alt="Noticia 1"
                        class="w-full h-32 object-cover"
                      />
                      <div class="p-4">
                        <p class="text-gray-700 text-sm font-parrafo">
                          Lorem Ipsum es simplemente el texto de relleno de las
                          imprentas y archivos de texto. Lorem Ipsum ha sido el
                          texto de relleno estándar de las industrias desde el
                          año 1500, cuando un impresor
                        </p>
                        <a href="#" class="text-yellow-400 mt-2 inline-block"
                          >Ver publicación</a
                        >
                      </div>
                    </div>
                    <div class="bg-white border overflow-hidden shadow-sm">
                      <img
                        src="assets/images/noticias/img_noticia_2.jpg"
                        alt="Noticia 2"
                        class="w-full h-32 object-cover"
                      />
                      <div class="p-4">
                        <p class="text-gray-700 text-sm font-parrafo">
                          Lorem Ipsum es simplemente el texto de relleno de las
                          imprentas y archivos de texto. Lorem Ipsum ha sido el
                          texto de relleno estándar de las industrias desde el
                          año 1500, cuando un impresor
                        </p>
                        <a href="#" class="text-yellow-400 mt-2 inline-block"
                          >Ver publicación</a
                        >
                      </div>
                    </div>
                    <div class="bg-white border overflow-hidden shadow-sm">
                      <img
                        src="assets/images/noticias/img_noticia_3.jpg"
                        alt="Noticia 3"
                        class="w-full h-32 object-cover"
                      />
                      <div class="p-4">
                        <p class="text-gray-700 text-sm font-parrafo">
                          Lorem Ipsum es simplemente el texto de relleno de las
                          imprentas y archivos de texto. Lorem Ipsum ha sido el
                          texto de relleno estándar de las industrias desde el
                          año 1500, cuando un impresor
                        </p>
                        <a href="#" class="text-yellow-400 mt-2 inline-block"
                          >Ver publicación</a
                        >
                      </div>
                    </div>
                    <div class="bg-white border overflow-hidden shadow-sm">
                      <img
                        src="assets/images/noticias/img_noticia_4.jpg"
                        alt="Noticia 4"
                        class="w-full h-32 object-cover"
                      />
                      <div class="p-4">
                        <p class="text-gray-700 text-sm font-parrafo">
                          Lorem Ipsum es simplemente el texto de relleno de las
                          imprentas y archivos de texto. Lorem Ipsum ha sido el
                          texto de relleno estándar de las industrias desde el
                          año 1500, cuando un impresor
                        </p>
                        <a href="#" class="text-yellow-400 mt-2 inline-block"
                          >Ver publicación</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  id="default-modal_7"
  tabindex="-1"
  aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <div class="relative p-4 w-full max-w-6xl max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div class="flex items-center justify-between p-4 md:p-5 rounded-t">
        <button
          type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-hide="default-modal_7"
        >
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-4 md:p-5 space-y-4">
        <div class="mx-auto p-6">
          <div class="grid grid-cols-1 md:grid-cols-5 gap-6">
            <!-- Columna de la Imagen -->
            <div class="md:col-span-2 flex flex-col items-center">
              <img
                src="{{ urlRaiz + ruta_imagen[7] }}"
                alt="Imagen de perfil"
                class=""
              />
              <p class="italic text-center font-parrafo py-5">
                "Siempre disponible para cualquier consulta y preocupado por
                obtener el mejor resultado para sus clientes"
              </p>
              <div class="flex space-x-4 mt-4">
                <img
                  src="assets/images/iconos/logro.png"
                  alt="Logo 1"
                  class="w-20 h-20"
                />
                <img
                  src="assets/images/iconos/logro.png"
                  alt="Logo 2"
                  class="w-20 h-20"
                />
              </div>
            </div>

            <!-- Columna de Información Personal -->
            <div class="md:col-span-3 p-10">
              <h1 class="text-2xl font-titulo font-bold">
                {{ nombre[7] }}
              </h1>
              <p class="text-gray-500">{{ cargo[7] }}</p>

              <p class="mt-2 font-parrafo">
                {{ correo[6] }}
                <br />+(51) {{ telefono[7] }}
              </p>
              <br />
              <a
                href="{{ urlRaiz + ruta_pdf[7] }}"
                target="_blank"
                class="mt-7 bg-yellow-400 text-white px-4 py-2 font-parrafo"
              >
                Descargar C.V
              </a>
              <hr class="my-4" />
              <h2 class="text-xl font-bold font-subtitulo">
                Áreas de Práctica:
              </h2>
              <p class="mt-2 font-parrafo">
                Corporativo / Fusiones y Adquisiciones, Proyectos e
                Infraestructura, Derecho de Finanzas, Mercado de Capitales,
                Titulizaciones y Fondos de Inversión
              </p>
              <h2 class="text-xl font-bold mt-4 font-subtitulo">
                Descripción:
              </h2>

              <div class="mt-2 text-justify font-parrafo">
                {{ resumen[7] }}
              </div>

              <div
                id="accordion-collapse_7"
                data-accordion="collapse_7"
                class="my-10"
              >
                <h2 id="accordion-collapse-heading-1_7">
                  <button
                    type="button"
                    class="flex items-center justify-between w-full bg-yellow-400 text-white px-4 py-2"
                    data-accordion-target="#accordion-collapse-body-1_7"
                    aria-expanded="false"
                    aria-controls="accordion-collapse-body-1_7"
                  >
                    <span>Más información</span>
                    <svg
                      data-accordion-icon
                      class="w-3 h-3 rotate-180 shrink-0"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 10 6"
                    >
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 5 5 1 1 5"
                      />
                    </svg>
                  </button>
                </h2>
                <div
                  id="accordion-collapse-body-1_7"
                  class="hidden"
                  aria-labelledby="accordion-collapse-heading-1_7"
                >
                  <div
                    class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900"
                  >
                    <div [innerHTML]="descripcion[7]" class="mb-5"></div>
                  </div>
                </div>
                <br />
                <h2 id="accordion-collapse-heading-2_7">
                  <button
                    type="button"
                    class="flex items-center justify-between w-full bg-yellow-400 text-white px-4 py-2"
                    data-accordion-target="#accordion-collapse-body-2_7"
                    aria-expanded="false"
                    aria-controls="accordion-collapse-body-2_7"
                  >
                    <span>Publicaciones o noticias</span>
                    <svg
                      data-accordion-icon
                      class="w-3 h-3 rotate-180 shrink-0"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 10 6"
                    >
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 5 5 1 1 5"
                      />
                    </svg>
                  </button>
                </h2>
                <div
                  id="accordion-collapse-body-2_7"
                  class="hidden"
                  aria-labelledby="accordion-collapse-heading-2_7"
                >
                  <!-- Sección de Noticias -->
                  <div
                    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4"
                  >
                    <div class="bg-white border overflow-hidden shadow-sm">
                      <img
                        src="assets/images/noticias/img_noticia_1.jpg"
                        alt="Noticia 1"
                        class="w-full h-32 object-cover"
                      />
                      <div class="p-4">
                        <p class="text-gray-700 text-sm font-parrafo">
                          Lorem Ipsum es simplemente el texto de relleno de las
                          imprentas y archivos de texto. Lorem Ipsum ha sido el
                          texto de relleno estándar de las industrias desde el
                          año 1500, cuando un impresor
                        </p>
                        <a href="#" class="text-yellow-400 mt-2 inline-block"
                          >Ver publicación</a
                        >
                      </div>
                    </div>
                    <div class="bg-white border overflow-hidden shadow-sm">
                      <img
                        src="assets/images/noticias/img_noticia_2.jpg"
                        alt="Noticia 2"
                        class="w-full h-32 object-cover"
                      />
                      <div class="p-4">
                        <p class="text-gray-700 text-sm font-parrafo">
                          Lorem Ipsum es simplemente el texto de relleno de las
                          imprentas y archivos de texto. Lorem Ipsum ha sido el
                          texto de relleno estándar de las industrias desde el
                          año 1500, cuando un impresor
                        </p>
                        <a href="#" class="text-yellow-400 mt-2 inline-block"
                          >Ver publicación</a
                        >
                      </div>
                    </div>
                    <div class="bg-white border overflow-hidden shadow-sm">
                      <img
                        src="assets/images/noticias/img_noticia_3.jpg"
                        alt="Noticia 3"
                        class="w-full h-32 object-cover"
                      />
                      <div class="p-4">
                        <p class="text-gray-700 text-sm font-parrafo">
                          Lorem Ipsum es simplemente el texto de relleno de las
                          imprentas y archivos de texto. Lorem Ipsum ha sido el
                          texto de relleno estándar de las industrias desde el
                          año 1500, cuando un impresor
                        </p>
                        <a href="#" class="text-yellow-400 mt-2 inline-block"
                          >Ver publicación</a
                        >
                      </div>
                    </div>
                    <div class="bg-white border overflow-hidden shadow-sm">
                      <img
                        src="assets/images/noticias/img_noticia_4.jpg"
                        alt="Noticia 4"
                        class="w-full h-32 object-cover"
                      />
                      <div class="p-4">
                        <p class="text-gray-700 text-sm font-parrafo">
                          Lorem Ipsum es simplemente el texto de relleno de las
                          imprentas y archivos de texto. Lorem Ipsum ha sido el
                          texto de relleno estándar de las industrias desde el
                          año 1500, cuando un impresor
                        </p>
                        <a href="#" class="text-yellow-400 mt-2 inline-block"
                          >Ver publicación</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  id="default-modal_8"
  tabindex="-1"
  aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <div class="relative p-4 w-full max-w-6xl max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div class="flex items-center justify-between p-4 md:p-5 rounded-t">
        <button
          type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-hide="default-modal_8"
        >
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-4 md:p-5 space-y-4">
        <div class="mx-auto p-6">
          <div class="grid grid-cols-1 md:grid-cols-5 gap-6">
            <!-- Columna de la Imagen -->
            <div class="md:col-span-2 flex flex-col items-center">
              <img
                src="{{ urlRaiz + ruta_imagen[8] }}"
                alt="Imagen de perfil"
                class=""
              />
              <p class="italic text-center font-parrafo py-5">
                "Siempre disponible para cualquier consulta y preocupado por
                obtener el mejor resultado para sus clientes"
              </p>
              <div class="flex space-x-4 mt-4">
                <img
                  src="assets/images/iconos/logro.png"
                  alt="Logo 1"
                  class="w-20 h-20"
                />
                <img
                  src="assets/images/iconos/logro.png"
                  alt="Logo 2"
                  class="w-20 h-20"
                />
              </div>
            </div>

            <!-- Columna de Información Personal -->
            <div class="md:col-span-3 p-10">
              <h1 class="text-2xl font-titulo font-bold">
                {{ nombre[8] }}
              </h1>
              <p class="text-gray-500">{{ cargo[8] }}</p>

              <p class="mt-2 font-parrafo">
                {{ correo[8] }}
                <br />+(51) {{ telefono[8] }}
              </p>
              <br />
              <a
                href="{{ urlRaiz + ruta_pdf[8] }}"
                target="_blank"
                class="mt-7 bg-yellow-400 text-white px-4 py-2 font-parrafo"
              >
                Descargar C.V
              </a>
              <hr class="my-4" />
              <h2 class="text-xl font-bold font-subtitulo">
                Áreas de Práctica:
              </h2>
              <p class="mt-2 font-parrafo">
                Corporativo / Fusiones y Adquisiciones, Proyectos e
                Infraestructura, Derecho de Finanzas, Mercado de Capitales,
                Titulizaciones y Fondos de Inversión
              </p>
              <h2 class="text-xl font-bold mt-4 font-subtitulo">
                Descripción:
              </h2>

              <div class="mt-2 text-justify font-parrafo">
                {{ resumen[8] }}
              </div>

              <div
                id="accordion-collapse_8"
                data-accordion="collapse_8"
                class="my-10"
              >
                <h2 id="accordion-collapse-heading-1_8">
                  <button
                    type="button"
                    class="flex items-center justify-between w-full bg-yellow-400 text-white px-4 py-2"
                    data-accordion-target="#accordion-collapse-body-1_8"
                    aria-expanded="false"
                    aria-controls="accordion-collapse-body-1_8"
                  >
                    <span>Más información</span>
                    <svg
                      data-accordion-icon
                      class="w-3 h-3 rotate-180 shrink-0"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 10 6"
                    >
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 5 5 1 1 5"
                      />
                    </svg>
                  </button>
                </h2>
                <div
                  id="accordion-collapse-body-1_8"
                  class="hidden"
                  aria-labelledby="accordion-collapse-heading-1_8"
                >
                  <div
                    class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900"
                  >
                    <div [innerHTML]="descripcion[8]" class="mb-5"></div>
                  </div>
                </div>
                <br />
                <h2 id="accordion-collapse-heading-2_8">
                  <button
                    type="button"
                    class="flex items-center justify-between w-full bg-yellow-400 text-white px-4 py-2"
                    data-accordion-target="#accordion-collapse-body-2_8"
                    aria-expanded="false"
                    aria-controls="accordion-collapse-body-2_8"
                  >
                    <span>Publicaciones o noticias</span>
                    <svg
                      data-accordion-icon
                      class="w-3 h-3 rotate-180 shrink-0"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 10 6"
                    >
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 5 5 1 1 5"
                      />
                    </svg>
                  </button>
                </h2>
                <div
                  id="accordion-collapse-body-2_8"
                  class="hidden"
                  aria-labelledby="accordion-collapse-heading-2_8"
                >
                  <!-- Sección de Noticias -->
                  <div
                    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4"
                  >
                    <div class="bg-white border overflow-hidden shadow-sm">
                      <img
                        src="assets/images/noticias/img_noticia_1.jpg"
                        alt="Noticia 1"
                        class="w-full h-32 object-cover"
                      />
                      <div class="p-4">
                        <p class="text-gray-700 text-sm font-parrafo">
                          Lorem Ipsum es simplemente el texto de relleno de las
                          imprentas y archivos de texto. Lorem Ipsum ha sido el
                          texto de relleno estándar de las industrias desde el
                          año 1500, cuando un impresor
                        </p>
                        <a href="#" class="text-yellow-400 mt-2 inline-block"
                          >Ver publicación</a
                        >
                      </div>
                    </div>
                    <div class="bg-white border overflow-hidden shadow-sm">
                      <img
                        src="assets/images/noticias/img_noticia_2.jpg"
                        alt="Noticia 2"
                        class="w-full h-32 object-cover"
                      />
                      <div class="p-4">
                        <p class="text-gray-700 text-sm font-parrafo">
                          Lorem Ipsum es simplemente el texto de relleno de las
                          imprentas y archivos de texto. Lorem Ipsum ha sido el
                          texto de relleno estándar de las industrias desde el
                          año 1500, cuando un impresor
                        </p>
                        <a href="#" class="text-yellow-400 mt-2 inline-block"
                          >Ver publicación</a
                        >
                      </div>
                    </div>
                    <div class="bg-white border overflow-hidden shadow-sm">
                      <img
                        src="assets/images/noticias/img_noticia_3.jpg"
                        alt="Noticia 3"
                        class="w-full h-32 object-cover"
                      />
                      <div class="p-4">
                        <p class="text-gray-700 text-sm font-parrafo">
                          Lorem Ipsum es simplemente el texto de relleno de las
                          imprentas y archivos de texto. Lorem Ipsum ha sido el
                          texto de relleno estándar de las industrias desde el
                          año 1500, cuando un impresor
                        </p>
                        <a href="#" class="text-yellow-400 mt-2 inline-block"
                          >Ver publicación</a
                        >
                      </div>
                    </div>
                    <div class="bg-white border overflow-hidden shadow-sm">
                      <img
                        src="assets/images/noticias/img_noticia_4.jpg"
                        alt="Noticia 4"
                        class="w-full h-32 object-cover"
                      />
                      <div class="p-4">
                        <p class="text-gray-700 text-sm font-parrafo">
                          Lorem Ipsum es simplemente el texto de relleno de las
                          imprentas y archivos de texto. Lorem Ipsum ha sido el
                          texto de relleno estándar de las industrias desde el
                          año 1500, cuando un impresor
                        </p>
                        <a href="#" class="text-yellow-400 mt-2 inline-block"
                          >Ver publicación</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
