<span class="flex justify-center mt-10 gap-3">
  <span class="w-3 h-3 bg-gray-200 rounded-full"></span>
  <span class="w-3 h-3 bg-gray-200 rounded-full"></span>
  <span class="w-3 h-3 bg-gray-900 rounded-full"></span>
  <span class="w-3 h-3 bg-gray-200 rounded-full"></span>
  <span class="w-3 h-3 bg-gray-200 rounded-full"></span>
  <span class="w-3 h-3 bg-gray-200 rounded-full"></span>
  <span class="w-3 h-3 bg-gray-200 rounded-full"></span>
  <span class="w-3 h-3 bg-gray-200 rounded-full"></span>
</span>
