<div class="flex flex-row w-full bg-azul h-36 rounded-b-[35px] gap-5">
  <div class="hidden md:block md:basis-[15%] bg-red-300 md:ml-14">
    <div class="flex flex-row md:mt-5 lg:mt-2">
      <div class="basis-[50%] bg-black">
        <img src="assets/images/img8.png" class="" />
      </div>
      <div class="basis-[50%] bg-gray-50">
        <div>LEGAL</div>
        <div>LABOR</div>
        <div>SCAN</div>
      </div>
    </div>
  </div>
  <div class="flex flex-col justify-end basis-[70%] md:basis-[40%] bg-red-300 ml-4 md:ml-0">
    <div class="bg-gray-200 mb-3">
      <form>
        <label for="default-search"
          class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
        <div class="relative">
          <input type="search" id="default-search"
            class="block w-full p-4 pl-10 text-sm text-gray-900 bg-white rounded-full mt-10" placeholder="Buscar ..."
            required />
          <button type="submit"
            class="text-white absolute -right-3 bottom-0 bg-celeste hover:bg-azul rounded-full pt-7 pb-7 pl-10 pr-10">
            <div class="absolute inset-y-0 left-0 flex items-center pl-7 pointer-events-none">
              <svg class="w-4 h-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
              </svg>
            </div>
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="hidden md:block md:basis-[5%] bg-red-300">3</div>
  <div class="flex flex-col justify-end basis-[30%] md:basis-[40%] bg-red-300 mr-4 md:mr-14">
    <div class="flex flex-row mb-5">
      <div class="basis-[25%] bg-gray-50">1</div>
      <div class="basis-[25%] text-center text-white"><i class="fa fa-cog fa-3x" aria-hidden="true"></i>

      </div>
      <div class="basis-[25%] text-center text-white"><i class="fa fa-bell fa-3x" aria-hidden="true"></i>
      </div>
      <div class="basis-[25%] text-center text-white"><i class="fa fa-user fa-3x" aria-hidden="true"></i>
      </div>

    </div>
  </div>
</div>