<p>ngif works!</p>

<p>formulario works!</p>

<input type="text" placeholder="Ingresa tu nombre" class="form-control" #name />

<button
  class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
  (click)="mostrar_en_consola(name.value)"
>
  Mostrar en consola
</button>

<div
  class="p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400"
  role="alert"
  *ngIf="openAlert; else mensaje"
>
  <p>Se ha enviado el mensaje</p>

  <button class="bg-red-600" (click)="openAlert = false">x</button>
</div>

<ng-template #mensaje>
  <div
    class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
  >
    Mensaje de prueba
  </div>
</ng-template>
