<div class="border-2 border-gray-100 rounded-xl p-5 mt-5">
  <div class="grid grid-cols-4 gap-3">
    <div class="text-center">
      <img class="" src="assets/images/img4.png" />
    </div>
    <div class="col-span-3 text-center pt-1">
      <h4 class="subtitulo-azul">Angular</h4>
      <a routerLink="/test/angular/ejemplo-permisos">
        <p class="texto-gris">Ejemplo permisos</p>
      </a>
      <a routerLink="/test/angular/directiva-1">
        <p class="texto-gris">directiva-1</p>
      </a>
      <a routerLink="/test/maqueta">
        <p class="texto-gris">maqueta</p>
      </a>
      <a routerLink="/test/angular/contact">
        <p class="texto-gris">Contact</p>
      </a>
      <a routerLink="/test/angular/localstorage/pagina1">
        <p class="texto-gris">Set localstorage</p>
      </a>
      <a routerLink="/test/angular/toastr">
        <h4 class="texto-gris">Toastr</h4>
      </a>
      <a routerLink="/test/angular/localstorage/pagina2">
        <p class="texto-gris">Get localstorage</p>
      </a>
      <a routerLink="/test/angular/upload">
        <p class="texto-gris">Upload</p>
      </a>
      <a routerLink="/test/angular/formulario-validaciones">
        <p class="texto-gris">Form validacion</p>
      </a>
      <a routerLink="/test/angular/pdf">
        <p class="texto-gris">Pdf</p>
      </a>
      <a routerLink="/test/angular/interpolacion">
        <p class="texto-gris">Interpolacion</p>
      </a>
      <a routerLink="/test/angular/event-binding">
        <p class="texto-gris">Event Binding</p>
      </a>
      <a routerLink="/test/angular/class-binding">
        <p class="texto-gris">Class Binding</p>
      </a>
      <a routerLink="/test/angular/formulario">
        <p class="texto-gris">Formulario</p>
      </a>
      <a routerLink="/test/angular/property-binding">
        <p class="texto-gris">Property Binding</p>
      </a>
      <a routerLink="/test/angular/ngif">
        <p class="texto-gris">Ngif</p>
      </a>
      <a routerLink="/test/angular/children">
        <p class="texto-gris">Children</p>
      </a>
      <a routerLink="/test/angular/rutas/home">
        <p class="texto-gris">Rutas Home</p>
      </a>
      <a routerLink="/test/angular/user-details/:id">
        <p class="texto-gris">User Details</p>
      </a>
      <a routerLink="/test/angular/rutas/page-not-found">
        <p class="texto-gris">Page Not Found</p>
      </a>
      <a routerLink="/test/angular/formulario2">
        <p class="texto-gris">Formulario 2</p>
      </a>
      <a routerLink="/test/angular/crud/add-category">
        <p class="texto-gris">Crud Add Category</p>
      </a>
      <a routerLink="/test/angular/crud/list-category">
        <p class="texto-gris">Crud List Category</p>
      </a>
    </div>
  </div>
</div>

<div class="border-2 border-gray-100 rounded-xl p-5 mt-5">
  <div class="grid grid-cols-4 gap-3">
    <div class="text-center">
      <img class="" src="assets/images/img7.png" />
    </div>
    <div class="col-span-3 text-center pt-1">
      <a routerLink="/test/angular/crud/list-category">
        <h4 class="subtitulo-azul">Crud</h4>
      </a>
    </div>
  </div>
</div>

<div class="border-2 border-gray-100 rounded-xl p-5 mt-5">
  <div class="grid grid-cols-4 gap-3">
    <div class="text-center">
      <img class="" src="assets/images/img6.png" />
    </div>
    <div class="col-span-3 text-center pt-1">
      <h4 class="subtitulo-naranja">Carga Perezosa</h4>

      <a routerLink="/test/carga-perezosa/welcome">
        <p class="texto-gris">Welcome</p>
      </a>
      <a routerLink="/test/carga-perezosa/blog">
        <p class="texto-gris">blog</p>
      </a>
    </div>
  </div>
</div>

<div class="border-2 border-gray-100 rounded-xl p-5 mt-5">
  <div class="grid grid-cols-4 gap-3">
    <div class="text-center">
      <img class="" src="assets/images/img5.png" />
    </div>
    <div class="col-span-3 text-center pt-1">
      <h4 class="subtitulo-azul">Tailwind</h4>
      <a routerLink="/test/tailwind/botones">
        <p class="texto-gris">Botones</p>
      </a>
      <a routerLink="/test/tailwind/alertas">
        <p class="texto-gris">Alertas</p>
      </a>
      <a routerLink="/test/tailwind/cards">
        <p class="texto-gris">Cards</p>
      </a>
      <a routerLink="/test/tailwind/login-form">
        <p class="texto-gris">Login Form</p>
      </a>
      <a routerLink="/test/tailwind/grid">
        <p class="texto-gris">Grid</p>
      </a>
      <a routerLink="/test/tailwind/layout/container">
        <p class="texto-gris">Layout Container</p>
      </a>
      <a routerLink="/test/tailwind/layout/position">
        <p class="texto-gris">Layout Position</p>
      </a>
      <a routerLink="/test/tailwind/layout/layout">
        <p class="texto-gris">Layout</p>
      </a>
      <a routerLink="/test/tailwind/layout/sticky">
        <p class="texto-gris">Sticky</p>
      </a>
      <a routerLink="/test/tailwind/flexbox-basico">
        <p class="texto-gris">Flexbox Basico</p>
      </a>
    </div>
  </div>
</div>

<div class="border-2 border-gray-100 rounded-xl p-5 mt-5">
  <div class="grid grid-cols-4 gap-3">
    <div class="text-center">
      <img class="" src="assets/images/img3.png" />
    </div>
    <div class="col-span-3 text-center pt-1">
      <h4 class="subtitulo-azul">Maqueta</h4>
      <a routerLink="/test/maqueta/dashboard">
        <p class="texto-gris">Dashboard</p>
      </a>
      <a routerLink="/test/maqueta/contratacion/oferta-laboral">
        <p class="texto-gris">Oferta Laboral</p>
      </a>
      <a routerLink="/test/maqueta/contratacion/contrato">
        <p class="texto-gris">Contrato</p>
      </a>
      <a routerLink="/test/maqueta/contratacion/contrato/proceso-uno">
        <p class="texto-gris">Proceso uno</p>
      </a>
      <a routerLink="/test/maqueta/contratacion/adendas">
        <p class="texto-gris">Adendas</p>
      </a>
    </div>
  </div>
</div>
