<div class="py-5">
  <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
    <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg px-4 py-4">
      <div class="flex items-center justify-between">
        <!--Input de busqueda   -->
        <div class="flex items-center p-2 rounded-md flex-1">
          <label
            class="w-full relative text-gray-400 focus-within:text-gray-600 block"
          >
            <svg
              class="pointer-events-none w-8 h-8 absolute top-1/2 transform -translate-y-1/2 left-3"
              viewBox="0 0 25 25"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              viewBox="0 0 24 24"
              class="w-6 h-6"
            >
              <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
            </svg>
            <input
              type="text"
              class="w-full block pl-14 border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm"
              placeholder="Buscar categoria..."
            />
          </label>
        </div>

        <!--Boton nuevo   -->
        <div class="lg:ml-40 ml-10 space-x-8">
          <a
            routerLink="/test/angular/crud/add-category"
            class="bg-indigo-600 px-4 py-2 rounded-md text-white font-semibold tracking-wide cursor-pointer hover:bg-indigo-500"
          >
            <i class="fa-solid fa-plus"></i> Nuevo
          </a>
        </div>
      </div>
      <!--Tabla lista de items   -->
      <div
        class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg"
      >
        <table class="w-full divide-y divide-gray-200 table-auto">
          <thead class="bg-indigo-500 text-white">
            <tr class="text-left text-xs font-bold uppercase">
              <td scope="col" class="px-6 py-3">ID</td>
              <td scope="col" class="px-6 py-3">Categoría</td>
              <td scope="col" class="px-6 py-3">Slug</td>
              <td scope="col" class="px-6 py-3">Creado</td>
              <td scope="col" class="px-6 py-3">Actualizado</td>
              <td scope="col" class="px-6 py-3">Opciones</td>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <tr
              *ngFor="let item of listCategories"
              class="text-sm font-medium text-gray-900"
            >
              <td class="px-6 py-4">
                <span
                  class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-indigo-500 text-white"
                >
                  {{ item.id }}
                </span>
              </td>
              <td class="px-6 py-4">{{ item.name }}</td>
              <td class="px-6 py-4">{{ item.slug }}</td>
              <td class="px-6 py-4">{{ item.created_at }}</td>
              <td class="px-6 py-4">{{ item.updated_at }}</td>
              <td class="px-6 py-4">
                <button
                  (click)="onEdit(item)"
                  class="inline-flex items-center px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring focus:ring-gray-300 disabled:opacity-25 transition"
                >
                  <i class="fas fa-edit"></i>
                </button>
                <button
                  (click)="onDelete(item.id)"
                  class="inline-flex items-center justify-center px-4 py-2 bg-red-600 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-red-500 focus:outline-none focus:border-red-700 focus:ring focus:ring-red-200 active:bg-red-600 disabled:opacity-25 transition"
                >
                  <i class="fas fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
