<nav class="bg-white border-gray-200 dark:bg-gray-900 dark:border-gray-700">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-center mx-auto p-2"
  >
    <button
      data-collapse-toggle="navbar-dropdown"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      aria-controls="navbar-dropdown"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>
    </button>
    <img
      src="assets/images/logo_negro.png"
      class="sm:hidden h-14 w-48"
      alt=""
    />
    <div
      class="hidden w-full md:block md:w-auto border-b border-gray-900"
      id="navbar-dropdown"
    >
      <ul
        class="flex flex-col font-normal p-4 md:p-0 mt-4 text-md border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white"
      >
        <li class="border-r border-gray-900 pr-14 pl-24 pb-4 pt-2">
          <a
            href="#"
            class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500 dark:bg-blue-600"
            aria-current="page"
          >
            <img src="assets/images/icons/lupa.png" class="w-5 h-5" alt="" />
          </a>
        </li>
        <li class="px-4 pb-4 pt-2">
          <a
            href="#"
            class="block py-2 px-3 rounded md:bg-transparent text-gray-700 md:p-0"
            aria-current="page"
            >Inicio</a
          >
        </li>
        <li class="px-4 pb-4 pt-2">
          <a
            routerLink="firma"
            class="block py-2 px-3 rounded md:bg-transparent text-gray-700 md:p-0"
            aria-current="page"
            >La Firma</a
          >
        </li>
        <li>
          <button
            id="mega-menu-dropdown-button"
            routerLink="areas"
            data-dropdown-toggle="mega-menu-dropdown"
            class="flex items-center justify-between w-full py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-[#495464] md:pt-2 md:w-auto dark:text-white md:dark:hover:text-[#495464] dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent"
          >
            Áreas
            <svg
              class="w-2.5 h-2.5 ms-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 10 6"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 4 4 4-4"
              />
            </svg>
          </button>
          <div
            id="mega-menu-dropdown"
            class="absolute z-10 grid hidden w-auto grid-cols-2 text-sm bg-white border border-gray-100 rounded-lg shadow-md dark:border-gray-700 md:grid-cols-3 dark:bg-gray-700"
          >
            <div class="p-4 pb-0 text-gray-900 md:pb-4 dark:text-white">
              <ul class="space-y-4" aria-labelledby="mega-menu-dropdown-button">
                <li>
                  <a
                    routerLink="/areas/servicio/1"
                    class="text-gray-500 dark:text-gray-400 hover:text-yellow-400 dark:hover:text-blue-500"
                  >
                    Legal Compliance
                  </a>
                </li>
                <li>
                  <a
                    routerLink="/areas/servicio/2"
                    class="text-gray-500 dark:text-gray-400 hover:text-yellow-400 dark:hover:text-blue-500"
                  >
                    Corporativo
                  </a>
                </li>
                <li>
                  <a
                    routerLink="/areas/servicio/3"
                    class="text-gray-500 dark:text-gray-400 hover:text-yellow-400 dark:hover:text-blue-500"
                  >
                    Fusiones y Adquisiciones
                  </a>
                </li>
                <li>
                  <a
                    routerLink="/areas/servicio/4"
                    class="text-gray-500 dark:text-gray-400 hover:text-yellow-400 dark:hover:text-blue-500"
                  >
                    Derecho Financiero
                  </a>
                </li>
                <li>
                  <a
                    routerLink="/areas/servicio/5"
                    class="text-gray-500 dark:text-gray-400 hover:text-yellow-400 dark:hover:text-blue-500"
                  >
                    Precios de Transferencia
                  </a>
                </li>
                <li>
                  <a
                    routerLink="/areas/servicio/6"
                    class="text-gray-500 dark:text-gray-400 hover:text-yellow-400 dark:hover:text-blue-500"
                  >
                    Laboral
                  </a>
                </li>
              </ul>
            </div>
            <div class="p-4 pb-0 text-gray-900 md:pb-4 dark:text-white">
              <ul class="space-y-4">
                <li>
                  <a
                    routerLink="/areas/servicio/7"
                    class="text-gray-500 dark:text-gray-400 hover:text-yellow-400 dark:hover:text-blue-500"
                  >
                    Migratorio
                  </a>
                </li>
                <li>
                  <a
                    routerLink="/areas/servicio/8"
                    class="text-gray-500 dark:text-gray-400 hover:text-yellow-400 dark:hover:text-blue-500"
                  >
                    Inmobiliario
                  </a>
                </li>
                <li>
                  <a
                    routerLink="/areas/servicio/9"
                    class="text-gray-500 dark:text-gray-400 hover:text-yellow-400 dark:hover:text-blue-500"
                  >
                    Administrativo
                  </a>
                </li>
                <li>
                  <a
                    routerLink="/areas/servicio/10"
                    class="text-gray-500 dark:text-gray-400 hover:text-yellow-400 dark:hover:text-blue-500"
                  >
                    Protección de Datos Personales
                  </a>
                </li>
                <li>
                  <a
                    routerLink="/areas/servicio/11"
                    class="text-gray-500 dark:text-gray-400 hover:text-yellow-400 dark:hover:text-blue-500"
                  >
                    Protección al Consumidor
                  </a>
                </li>
                <li>
                  <a
                    routerLink="/areas/servicio/12"
                    class="text-gray-500 dark:text-gray-400 hover:text-yellow-400 dark:hover:text-blue-500"
                  >
                    Propiedad Intelectual
                  </a>
                </li>
              </ul>
            </div>
            <div class="p-4">
              <ul class="space-y-4">
                <li>
                  <a
                    routerLink="/areas/servicio/13"
                    class="text-gray-500 dark:text-gray-400 hover:text-yellow-400 dark:hover:text-blue-500"
                  >
                    Contrataciones con el Estado
                  </a>
                </li>
                <li>
                  <a
                    routerLink="/areas/servicio/14"
                    class="text-gray-500 dark:text-gray-400 hover:text-yellow-400 dark:hover:text-blue-500"
                  >
                    Regulatorio
                  </a>
                </li>
                <li>
                  <a
                    routerLink="/areas/servicio/15"
                    class="text-gray-500 dark:text-gray-400 hover:text-yellow-400 dark:hover:text-blue-500"
                  >
                    Relaciones Gubernamentales
                  </a>
                </li>
                <li>
                  <a
                    routerLink="/areas/servicio/16"
                    class="text-gray-500 dark:text-gray-400 hover:text-yellow-400 dark:hover:text-blue-500"
                  >
                    Relaciones Sociales
                  </a>
                </li>
                <li>
                  <a
                    routerLink="/areas/servicio/17"
                    class="text-gray-500 dark:text-gray-400 hover:text-yellow-400 dark:hover:text-blue-500"
                  >
                    Seguridad y Salud en el Trabajo
                  </a>
                </li>
                <li>
                  <a
                    routerLink="/areas/servicio/18"
                    class="text-gray-500 dark:text-gray-400 hover:text-yellow-400 dark:hover:text-blue-500"
                  >
                    Tributario
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>

        <li class="px-4 pb-4 pt-2">
          <a
            routerLink="nuestro-equipo"
            class="block py-2 px-3 rounded md:bg-transparent text-gray-700 md:p-0"
            aria-current="page"
            >Nuestro Equipo</a
          >
        </li>
        <!--  <li class="px-4 pb-4 pt-2">
          <button
            id="dropdownNavbarLink2"
            data-dropdown-toggle="dropdownNavbar2"
            class="flex items-center justify-between w-full py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-[#495464] md:p-0 md:w-auto dark:text-white md:dark:hover:text-[#495464] dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent"
          >
            Nuestro Equipo
            <svg
              class="w-2.5 h-2.5 ms-2.5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 10 6"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 4 4 4-4"
              />
            </svg>
          </button>
          
          <div
            id="dropdownNavbar2"
            class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
          >
            <ul
              class="py-2 text-sm text-gray-700 dark:text-gray-400"
              aria-labelledby="dropdownLargeButton"
            >
              <li>
                <a
                  href="nuestro-equipo"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >El equipo 1</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >El equipo 2</a
                >
              </li>
            </ul>
          </div>
        </li> -->
        <li class="border-r border-gray-900 pr-10 pb-4 pt-2">
          <button
            routerLink="publicaciones/informativo"
            id="dropdownNavbarLink3"
            data-dropdown-toggle="dropdownNavbar3"
            class="flex items-center justify-between w-full py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-[#495464] md:p-0 md:w-auto dark:text-white md:dark:hover:text-[#495464] dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent"
          >
            Publicaciones
            <svg
              class="w-2.5 h-2.5 ms-2.5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 10 6"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 4 4 4-4"
              />
            </svg>
          </button>
          <!-- Dropdown menu -->
          <div
            id="dropdownNavbar3"
            class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
          >
            <ul
              class="py-2 text-sm text-gray-700 dark:text-gray-400"
              aria-labelledby="dropdownLargeButton"
            >
              <li>
                <a
                  routerLink="publicaciones/informativo"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >Informativo</a
                >
              </li>
              <li>
                <a
                  routerLink="publicaciones/sala-de-prensa"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >Sala de Prensa</a
                >
              </li>
            </ul>
          </div>
        </li>

        <li class="pr-24 pb-2 pt-2">
          <button
            id="dropdownNavbarLink5"
            data-dropdown-toggle="dropdownNavbar5"
            class="flex items-center justify-between w-full py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-[#495464] md:p-0 md:w-auto dark:text-white md:dark:hover:text-[#495464] dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent"
          >
            <img src="assets/images/espanol.png" class="h-5 w-7" alt="" />
            <svg
              class="w-2.5 h-2.5 ms-2.5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 10 6"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 4 4 4-4"
              />
            </svg>
          </button>
          <!-- Dropdown menu -->
          <div
            id="dropdownNavbar5"
            class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
          >
            <ul
              class="py-2 text-sm text-gray-700 dark:text-gray-400"
              aria-labelledby="dropdownLargeButton"
            >
              <!-- 15.- TRANSLATE-V1 -->
              <li>
                <a
                  href="#"
                  (click)="switchLanguage('es')"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >Español</a
                >
              </li>
              <li>
                <a
                  href="#"
                  (click)="switchLanguage('en')"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >Ingles</a
                >
              </li>
              <!-- /15.- TRANSLATE-V1 -->
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- <li class="px-4 pb-4 pt-2">
          <button
            routerLink="areas"
            id="dropdownNavbarLink1"
            data-dropdown-toggle="dropdownNavbar1"
            class="flex items-center justify-between w-full py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-[#495464] md:p-0 md:w-auto dark:text-white md:dark:hover:text-[#495464] dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent"
          >
            Áreas
            <svg
              class="w-2.5 h-2.5 ms-2.5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 10 6"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 4 4 4-4"
              />
            </svg>
          </button>
          
          <div
            id="dropdownNavbar1"
            class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
          >
            <ul
              class="py-2 text-sm text-gray-700 dark:text-gray-400"
              aria-labelledby="dropdownLargeButton"
            >
              <li>
                <a
                  routerLink="/areas/servicio/1"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >Legal Compliance</a
                >
              </li>
              <li>
                <a
                  routerLink="/areas/servicio/2"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >Corporativo</a
                >
              </li>
              <li>
                <a
                  routerLink="/areas/servicio/3"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >Fusiones y Adquisiciones</a
                >
              </li>
              <li>
                <a
                  routerLink="/areas/servicio/4"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >Derecho Financiero</a
                >
              </li>
              <li>
                <a
                  routerLink="/areas/servicio/5"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >Precios de Transferencia</a
                >
              </li>
              <li>
                <a
                  routerLink="/areas/servicio/6"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >Laboral</a
                >
              </li>
              <li>
                <a
                  routerLink="/areas/servicio/7"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >Migratorio</a
                >
              </li>
              <li>
                <a
                  routerLink="/areas/servicio/8"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >Inmobiliario</a
                >
              </li>
              <li>
                <a
                  routerLink="/areas/servicio/9"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >Administrativo</a
                >
              </li>
              <li>
                <a
                  routerLink="/areas/servicio/10"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >Protección de Datos Personales</a
                >
              </li>
              <li>
                <a
                  routerLink="/areas/servicio/11"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >Protección al Consumidor</a
                >
              </li>
              <li>
                <a
                  routerLink="/areas/servicio/12"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >Propiedad Intelectual</a
                >
              </li>
              <li>
                <a
                  routerLink="/areas/servicio/13"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >Contrataciones con el Estado</a
                >
              </li>
              <li>
                <a
                  routerLink="/areas/servicio/14"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >Regulatorio</a
                >
              </li>
              <li>
                <a
                  routerLink="/areas/servicio/15"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >Relaciones Gubernamentales</a
                >
              </li>
              <li>
                <a
                  routerLink="/areas/servicio/16"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >Relaciones Sociales</a
                >
              </li>
              <li>
                <a
                  routerLink="/areas/servicio/17"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >Seguridad y Salud en el Trabajo</a
                >
              </li>
              <li>
                <a
                  routerLink="/areas/servicio/18"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >Tributario</a
                >
              </li>
            </ul>
          </div>
        </li>
 -->
