<p>container works!</p>

<div class="container mt-4">
  <div class="bg-gray-300 w-64 h-32 p-8 border-8 border-gray-500 box-content">
    <div class="bg-gray-500 h-full w-full"></div>
  </div>
</div>

<br />

<div class="container mt-4 bg-blue-600">
  <div class="bg-gray-400 text-gray-700 text-center px-4 py-2 inline-block">
    1
  </div>
  <div
    class="bg-gray-400 text-gray-700 text-center px-4 py-2 my-2 inline-block"
  >
    2
  </div>
  <div
    class="bg-gray-400 text-gray-700 text-center px-4 py-2 inline-block lg:hidden"
  >
    3
  </div>
</div>

<br />

<div class="container">
  <img
    class="float-right"
    src="https://images.pexels.com/photos/17900125/pexels-photo-17900125/free-photo-of-isla.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"
  />

  <p class="mb-2">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum id at,
    soluta rem nam suscipit, incidunt minima expedita, quo cupiditate a ullam
    eligendi. Ullam totam repellendus asperiores quasi optio harum!
  </p>
  <p class="mb-2">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum id at,
    soluta rem nam suscipit, incidunt minima expedita, quo cupiditate a ullam
    eligendi. Ullam totam repellendus asperiores quasi optio harum!
  </p>
  <p class="mb-2">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum id at,
    soluta rem nam suscipit, incidunt minima expedita, quo cupiditate a ullam
    eligendi. Ullam totam repellendus asperiores quasi optio harum!
  </p>
  <p class="mb-2">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum id at,
    soluta rem nam suscipit, incidunt minima expedita, quo cupiditate a ullam
    eligendi. Ullam totam repellendus asperiores quasi optio harum!
  </p>
  <p class="mb-2">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum id at,
    soluta rem nam suscipit, incidunt minima expedita, quo cupiditate a ullam
    eligendi. Ullam totam repellendus asperiores quasi optio harum!
  </p>
</div>

<br />

<div class="container bg-gray-300">
  <img
    class="w-full h-64 object-none"
    src="https://images.pexels.com/photos/109243/pexels-photo-109243.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
  />
</div>

<br />

<div class="container bg-gray-300">
  <img
    class="w-full h-64 object-cover objet-bottom"
    src="https://images.pexels.com/photos/109243/pexels-photo-109243.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
  />
</div>

<br />

<div class="container">
  <div class="bg-gray-300 p-4 h-64 overflow-auto">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis fuga
      tenetur sint explicabo ratione incidunt, perferendis enim mollitia eum
      exercitationem! Totam quia explicabo similique recusandae animi excepturi
      rem, adipisci quae?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis fuga
      tenetur sint explicabo ratione incidunt, perferendis enim mollitia eum
      exercitationem! Totam quia explicabo similique recusandae animi excepturi
      rem, adipisci quae?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis fuga
      tenetur sint explicabo ratione incidunt, perferendis enim mollitia eum
      exercitationem! Totam quia explicabo similique recusandae animi excepturi
      rem, adipisci quae?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis fuga
      tenetur sint explicabo ratione incidunt, perferendis enim mollitia eum
      exercitationem! Totam quia explicabo similique recusandae animi excepturi
      rem, adipisci quae?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis fuga
      tenetur sint explicabo ratione incidunt, perferendis enim mollitia eum
      exercitationem! Totam quia explicabo similique recusandae animi excepturi
      rem, adipisci quae?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis fuga
      tenetur sint explicabo ratione incidunt, perferendis enim mollitia eum
      exercitationem! Totam quia explicabo similique recusandae animi excepturi
      rem, adipisci quae?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis fuga
      tenetur sint explicabo ratione incidunt, perferendis enim mollitia eum
      exercitationem! Totam quia explicabo similique recusandae animi excepturi
      rem, adipisci quae?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis fuga
      tenetur sint explicabo ratione incidunt, perferendis enim mollitia eum
      exercitationem! Totam quia explicabo similique recusandae animi excepturi
      rem, adipisci quae?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis fuga
      tenetur sint explicabo ratione incidunt, perferendis enim mollitia eum
      exercitationem! Totam quia explicabo similique recusandae animi excepturi
      rem, adipisci quae?
    </p>
  </div>
</div>
