<!-- 7.- CRUD-BASICO-V1-P3 -->
<app-banner-contenido-3></app-banner-contenido-3>
<div class="container mx-auto max-w-7xl">
  <div class="px-4 my-10">
    <!-- <h2
      class="text-2xl sm:text-3xl md:text-4xl text-gray-500 font-semibold mb-4 font-subtitulo text-center"
    >
      {{ "TITULO_NUESTRO_EQUIPO" | translate }}
    </h2> -->
    <!-- <p
      class="mb-2 font-parrafo text-gray-800 text-lg sm:text-2xl mt-10 text-justify"
    >
      {{ "DESCRIPCION_NUESTRO_EQUIPO" | translate }}
    </p> -->

    <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
      <div
        *ngFor="let item of listBanners; let i = index"
        class="flex flex-col bg-gray-100 rounded-lg p-6 shadow-lg space-y-4 w-full mx-auto my-8"
      >
        <!-- Imagen de perfil -->
        <div class="w-full">
          <img
            src="{{ urlRaiz + item.ruta_imagen }}"
            alt="Imagen de perfil"
            class="w-full h-auto object-cover rounded-t-lg"
          />
        </div>

        <!-- Nombre y cargo -->
        <div class="text-center">
          <h1 class="text-2xl font-semibold">{{ item.nombre }}</h1>
          <p class="text-blue-500">{{ item.cargo }}</p>
        </div>

        <!-- Íconos de contacto -->
        <div class="flex justify-center space-x-4 mt-4">
          <a href="mailto:{{ item.correo }}" target="_blank">
            <img
              class="h-8 w-8"
              src="assets/images/iconos/email.png"
              alt="Email"
            />
          </a>
          <a href="{{ item.telefono }}" target="_blank">
            <img
              class="h-8 w-8"
              src="assets/images/iconos/linkedin.png"
              alt="LinkedIn"
            />
          </a>
        </div>
        <a
          class="cursor-pointer font-parrafo text-center text-[#156180] text-lg sm:text-lg"
          (click)="openModal(i)"
          >Leer más</a
        >

        <!-- Modal -->
        <div
          class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full z-50"
          *ngIf="selectedModalIndex === i"
        >
          <div
            class="relative top-10 mx-auto p-5 w-[80%] sm:w-[70%] rounded-md"
          >
            <div class="mt-3 sm:m-10">
              <!-- Modal content -->
              <div class="dark:bg-gray-700">
                <!-- Modal body -->
                <div class="grid grid-cols-1 gap-6">
                  <div
                    class="relative bg-white p-4 md:p-20 rounded-lg shadow-lg max-w-4xl mx-auto"
                  >
                    <!-- Close Button (Inside the white box) -->
                    <button
                      class="absolute text-4xl top-2 right-2 text-gray-500 hover:text-gray-700"
                      (click)="closeModal()"
                    >
                      &times;
                    </button>

                    <!-- Sección superior con imagen y detalles -->
                    <div
                      class="flex flex-col md:flex-row items-center md:space-x-8"
                    >
                      <!-- Imagen de perfil -->
                      <div class="mb-4 md:mb-0">
                        <img
                          src="{{ urlRaiz + item.ruta_imagen }}"
                          alt="Imagen de perfil"
                          class=""
                        />
                      </div>
                      <!-- Nombre y Cargo -->
                      <div>
                        <h1 class="text-3xl font-bold text-gray-800">
                          {{ item.nombre }}
                        </h1>
                        <p class="text-xl text-blue-500">
                          {{ item.cargo }}
                        </p>
                        <!-- Íconos de contacto -->
                        <div class="flex space-x-4 mt-4">
                          <a href="#" target="_blank">
                            <img
                              class="h-8 w-8"
                              src="assets/images/iconos/email.png"
                              alt="Email"
                            />
                          </a>
                          <a href="#" target="_blank">
                            <img
                              class="h-8 w-8"
                              src="assets/images/iconos/linkedin.png"
                              alt="Email"
                            />
                          </a>
                        </div>
                      </div>
                    </div>

                    <!-- Sección de experiencia, labores académicas y formación -->
                    <div class="space-y-8">
                      <div
                        class="bg-white text-gray-800 font-parrafo transition-all duration-300 mb-4 border border-gray-500 rounded-2xl p-8 border-2 mt-10"
                      >
                        <div [innerHTML]="item.descripcion" class="mb-5"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="flex items-center justify-center">
  <pagination-controls
    (pageChange)="p = $event"
    previousLabel="Anterior"
    nextLabel="Siguiente"
  ></pagination-controls>
</div> -->

<!-- /7.- CRUD-BASICO-V1-P3 -->
