<section class="bg-['#c6d8e7']">
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
  >
    <a href="#" class="flex items-center mb-6">
      <h1 class="text-4xl text-blue-500 font-bold">LOGIN</h1>
    </a>
    <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1
          class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl"
        >
          Iniciar sesión
        </h1>
        <form
          (ngSubmit)="submit()"
          [formGroup]="form"
          class="space-y-4 md:space-y-6"
        >
          <div class="mb-6">
            <label
              for="email"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Correo</label
            >
            <input
              type="email"
              formControlName="email"
              name="email"
              id="email"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              placeholder="Correo"
              [ngClass]="{ 'is-invalid': submitted && email.errors }"
              required
            />
            <div
              *ngIf="submitted && email.errors"
              class="invalid-feedback texto-rojo"
            >
              <div *ngIf="email.errors?.['required']">correo es requerido</div>
              <div *ngIf="email.errors?.['email']">
                El correo debe ser válido.
              </div>
            </div>
          </div>
          <div class="mb-6">
            <label
              for="password"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Contraseña</label
            >
            <input
              type="password"
              formControlName="password"
              name="password"
              id="password"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              placeholder="contraseña"
              required
            />
            <div
              *ngIf="submitted && password.errors"
              class="invalid-feedback texto-rojo"
            >
              <div *ngIf="password.errors?.['required']">
                se requiere contraseña
              </div>
              <div *ngIf="password.errors?.['minlength']">
                La contraseña debe tener al menos 6 caracteres
              </div>
            </div>
          </div>

          <button
            type="submit"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
          >
            Ingresar
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
