<section class="">
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
  >
    <a href="#" class="flex items-center mb-6"> </a>
    <div
      class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1
          class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
        >
          Formulario contacto
        </h1>
        <form
          [formGroup]="FormContacto"
          (ngSubmit)="EnviarEmail()"
          class="space-y-4 md:space-y-6"
        >
          <label>
            Nombre
            <input
              type="text"
              formControlName="nombre"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 mt-5"
            />
          </label>
          <button class="boton-azul mt-5" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>
