<section
  class="relative bg-cover h-[400px] sm:h-screen bg-center bg-no-repeat"
  [ngStyle]="{
    'background-image': 'url(' + urlRaiz + listServicios.ruta_banner + ')'
  }"
>
  <!-- Degradado negro en la parte inferior -->
  <div
    class="absolute inset-0 bg-gradient-to-t from-black/50 to-transparent"
  ></div>

  <!-- Contenedor para el texto -->
  <div class="absolute bottom-0 w-full text-center pb-6">
    <h1 class="text-white text-4xl font-titulo">
      {{ listServicios.titulo }}
    </h1>
  </div>
</section>

<div class="container mx-auto max-w-7xl py-10 px-4 text-justify">
  <!-- Parte de descripción y experiencia en una sola columna -->
  <div class="grid grid-cols-1 md:mx-20">
    <!-- Descripción -->
    <div class=" ">
      <div class="ql-container font-parrafo ql-snow" style="border-width: 0">
        <div class="ql-editor" [innerHTML]="safeHtml"></div>
      </div>
    </div>
  </div>

  <!-- Sección de imágenes de personas en una columna -->
  <div class="mt-10 flex justify-center">
    <div
      *ngIf="listServicios.ruta_imagen_uno"
      class="flex flex-col items-center"
    >
      <img
        src="{{ urlRaiz + listServicios.ruta_imagen_uno }}"
        alt="Legal books"
        class="md:w-[70%] object-cover"
      />
      <!-- <p class="text-center text-gray-700 mt-2 font-semibold">
        Carlos Enríquez
      </p>
      <p class="text-center text-gray-500">Gerente Corporativo M&A</p> -->
    </div>
    <div
      *ngIf="listServicios.ruta_imagen_dos"
      class="flex flex-col items-center"
    >
      <img
        src="{{ urlRaiz + listServicios.ruta_imagen_dos }}"
        alt="Legal books"
        class="md:w-[70%] object-cover"
      />
      <!--  <p class="text-center text-gray-700 mt-2 font-semibold">
        Allisson Trelles
      </p>
      <p class="text-center text-gray-500">Asociada Senior</p> -->
    </div>
    <!--  <div class="flex flex-col items-center">
      <img
        src="{{ urlRaiz + listServicios.ruta_imagen_uno }}"
        alt="Legal books"
        class="w-full h-auto object-cover rounded-lg"
      />
      <p class="text-center text-gray-700 mt-2 font-semibold">Ximena Samané</p>
      <p class="text-center text-gray-500">Asociada Senior</p>
    </div> -->
  </div>

  <!-- Botón de regreso -->
  <div class="flex justify-center items-center mt-10">
    <button
      (click)="goBack()"
      class="text-center bg-[#156180] text-white px-7 py-3 hover:bg-[#495464] rounded-full"
    >
      {{ "ATRAS" | translate }}
    </button>
  </div>
</div>
