<section
  class="bg-cover h-[400px] sm:h-screen bg-center bg-no-repeat bg-gray-700"
  [ngStyle]="{
    'background-image': 'url(' + urlRaiz + listServicios.ruta_banner + ')'
  }"
>
  <div class="px-10 max-w-full text-center py-24 lg:py-80"></div>
</section>
<div class="container mx-auto">
  <div class="px-4 my-10">
    <h2
      class="text-2xl sm:text-3xl md:text-4xl text-gray-700 font-semibold mb-4 leading-tight font-subtitulo border-b-4 inline border-yellow-400"
    >
      {{ listServicios.titulo }}
    </h2>

    @if(listServicios.id_testimonio == '17'){
    <div class="container mx-auto p-4">
      <div class="ql-container ql-snow" style="border-width: 0">
        <div
          class="ql-editor columns-1 md:columns-2 gap-8 md:gap-28"
          [innerHTML]="safeHtml"
        ></div>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div class="flex justify-center">
        <img
          src="assets/images/banners/banner_lateral_1.jpg"
          alt="Legal books"
          class="object-cover rounded-lg"
        />
      </div>
      <div class="flex justify-center">
        <img
          src="assets/images/banners/banner_lateral_2.jpg"
          alt="Library shelves"
          class="object-cover rounded-lg"
        />
      </div>
    </div>

    }@else {
    <div class="container mx-auto p-4">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div class="space-y-6">
          <div class="ql-container ql-snow" style="border-width: 0">
            <div class="ql-editor" [innerHTML]="safeHtml"></div>
          </div>
        </div>

        <div class="flex flex-col items-center space-y-8 mt-10">
          <div>
            <img
              src="{{ urlRaiz + listServicios.ruta_imagen_uno }}"
              alt="Legal books"
              class="w-full h-auto object-cover rounded-lg"
            />
          </div>
          <div>
            <img
              src="{{ urlRaiz + listServicios.ruta_imagen_dos }}"
              alt="Library shelves"
              class="w-full h-auto object-cover rounded-lg"
            />
          </div>
        </div>
      </div>
    </div>
    }

    <div class="flex justify-center items-center">
      <button
        (click)="goBack()"
        class="text-center bg-[#156180] text-white px-7 py-3 my-10 hover:bg-[#495464] rounded-full"
      >
        {{ "ATRAS" | translate }}
      </button>
    </div>
  </div>
</div>
