<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">Pagina</th>
        <th scope="col" class="px-6 py-3">Description</th>
        <th scope="col" class="px-6 py-3">Category</th>
        <th scope="col" class="px-6 py-3">Edit</th>
        <th scope="col" class="px-6 py-3">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700"
      >
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          Post 1
        </th>
        <td class="px-6 py-4">Descripción</td>
        <td class="px-6 py-4">Blog</td>

        <td class="px-6 py-4">
          <a
            href="#"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >Editar</a
          >
        </td>
        <td class="px-6 py-4">
          <a
            href="#"
            class="font-medium text-red-600 dark:text-red-500 hover:underline"
            >Eliminar</a
          >
        </td>
      </tr>
      <tr
        class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700"
      >
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          Post 2
        </th>
        <td class="px-6 py-4">Descripción</td>
        <td class="px-6 py-4">Blog</td>
        <td class="px-6 py-4">
          <a
            href="#"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >Editar</a
          >
        </td>
        <td class="px-6 py-4">
          <a
            href="#"
            class="font-medium text-red-600 dark:text-red-500 hover:underline"
            >Eliminar</a
          >
        </td>
      </tr>
      <tr
        class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700"
      >
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          Pagina 1
        </th>
        <td class="px-6 py-4">Descripción</td>
        <td class="px-6 py-4">Paginas</td>
        <td class="px-6 py-4">
          <a
            href="#"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >Editar</a
          >
        </td>
        <td class="px-6 py-4">
          <a
            href="#"
            class="font-medium text-red-600 dark:text-red-500 hover:underline"
            >Eliminar</a
          >
        </td>
      </tr>
      <tr
        class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700"
      >
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          Post 3
        </th>
        <td class="px-6 py-4">Descripción</td>
        <td class="px-6 py-4">Blog</td>
        <td class="px-6 py-4">
          <a
            href="#"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >Editar</a
          >
        </td>
        <td class="px-6 py-4">
          <a
            href="#"
            class="font-medium text-red-600 dark:text-red-500 hover:underline"
            >Eliminar</a
          >
        </td>
      </tr>
      <tr>
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          Post 5
        </th>
        <td class="px-6 py-4">Descripción</td>
        <td class="px-6 py-4">Blog</td>
        <td class="px-6 py-4">
          <a
            href="#"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >Editar</a
          >
        </td>
        <td class="px-6 py-4">
          <a
            href="#"
            class="font-medium text-red-600 dark:text-red-500 hover:underline"
            >Eliminar</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
