<div class="flex items-center justify-center mt-16">
  <div
    class="relative flex w-full max-w-[100%] mb-10 flex-row rounded-xl bg-white bg-clip-border text-gray-700"
  >
    <div
      class="hidden sm:inline-block relative m-0 w-2/5 shrink-0 overflow-hidden rounded-xl rounded-r-none bg-white bg-clip-border text-gray-700"
    >
      <img src="assets/images/imagen-card.png" alt="image" class="w-[90%]" />
    </div>
    <div class="p-10 sm:b-20">
      <img
        src="assets/images/imagen-card.png"
        alt="image"
        class="sm:hidden w-full rounded-md mb-5"
      />
      <h2
        class="mb-2 block font-sans text-4xl font-subtitulo font-semibold leading-snug tracking-normal text-blue-gray-600 antialiased"
      >
        Erick Valderrama
      </h2>

      <p
        class="mb-8 block font-sans text-justify text-3xl font-normal leading-relaxed text-gray-500 antialiased"
      >
        Erick Valderrama ha sido socio del área laboral de Russell Bedford,
        Gerente del Área Legal y Office of the General Counsel (OGC) de PWC para
        el territorio de Sudamérica. Fue Socio líder de Miguel Mur Abogados
        desde 2015, y el responsable del Desarrollo de Estructuras de Inversión
        e Identificación de Oportunidades de Inversión Extranjera en el Perú.
      </p>
    </div>
  </div>
  <!-- stylesheet -->
</div>
