<!-- component -->
<div class="flex items-center justify-center">
  <div
    class="relative flex w-full max-w-[100%] mb-10 flex-row rounded-xl bg-white bg-clip-border text-gray-700 shadow-md"
  >
    <div
      class="hidden sm:inline-block relative m-0 w-2/5 shrink-0 overflow-hidden rounded-xl rounded-r-none bg-white bg-clip-border text-gray-700"
    >
      <img
        src="https://images.unsplash.com/photo-1520607162513-77705c0f0d4a?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="image"
        class="h-full w-full object-cover"
      />
    </div>
    <div class="p-10 sm:p-20">
      <img
        src="https://images.unsplash.com/photo-1520607162513-77705c0f0d4a?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="image"
        class="sm:hidden w-full rounded-md mb-5"
      />
      <h2
        class="mb-2 block font-sans text-4xl font-semibold leading-snug tracking-normal text-blue-gray-600 antialiased"
      >
        Una misión y visión empresarial con integridad profesional.
      </h2>
      <h3
        class="block font-sans text-xl font-semibold leading-relaxed text-gray-500 antialiased"
      >
        Misión
      </h3>
      <p
        class="mb-8 block font-sans text-xl font-normal leading-relaxed text-gray-500 antialiased"
      >
        Asesorar, capacitar y formar profesionales en analitica de datos
        mediante el uso de software más requeridas del mercado
      </p>

      <h3
        class="block font-sans text-xl font-semibold leading-relaxed text-gray-500 antialiased"
      >
        Visión
      </h3>
      <p
        class="mb-8 block font-sans text-xl font-normal leading-relaxed text-gray-500 antialiased"
      >
        Ser una empresa líder en capacitación y asesoría del mercado analítico y
        transformación digital
      </p>

      <h3
        class="block font-sans text-xl font-semibold leading-relaxed text-gray-500 antialiased"
      >
        Valores
      </h3>
      <p
        class="mb-8 block font-sans text-xl font-normal leading-relaxed text-gray-500 antialiased"
      >
        Compromiso, enfoque, responsabilidad y confidencialidad
      </p>
    </div>
  </div>
  <!-- stylesheet -->
</div>
