<div class="flex items-center justify-center mb-16 md:p-10 bg-gray-100">
  <div
    class="relative flex w-full max-w-7xl mb-10 mx-20 flex-row rounded-xl bg-clip-border text-gray-700"
  >
    <div
      class="hidden sm:inline-block relative m-0 w-2/5 shrink-0 overflow-hidden rounded-xl rounded-r-none bg-gray-100 bg-clip-border text-gray-700"
    >
      <img src="assets/images/imagen-card.png" alt="image" class="w-[90%]" />
    </div>
    <div class="p-10 sm:b-20">
      <img
        src="assets/images/imagen-card.png"
        alt="image"
        class="sm:hidden w-full rounded-md mb-5"
      />
      <h2
        class="mb-2 block font-sans text-4xl font-subtitulo font-semibold leading-snug tracking-normal text-blue-gray-600 antialiased"
      >
        {{ "TITULO_GERENTE" | translate }}
      </h2>
      <h2
        class="mb-2 block font-sans text-2xl font-parrafo leading-snug tracking-normal text-[#156180] font-light antialiased"
      >
        {{ "CARGO" | translate }}
      </h2>

      <p
        class="mb-8 block text-justify font-parrafo font-light text-xl leading-relaxed text-gray-500 antialiased"
      >
        {{ "DESCRIPCION_GERENTE" | translate }}
      </p>
      <p
        class="mb-8 block text-justify font-parrafo font-light text-xl leading-relaxed text-gray-500 antialiased"
      >
        Ha sido el asesor principal de más de 90 empresas extranjeras en el país
        y ha liderado proyectos de inversión. Ha conformado directorios y es
        consejero legal en el desarrollo de inversiones. Además, Erick ha
        desarrollado Legal Compliance Scan, una herramienta tecnológica cuyo
        objetivo es realizar el cumplimiento normativo de la Unidad de
        Inteligencia Financiera en línea.
      </p>
    </div>
  </div>
  <!-- stylesheet -->
</div>
